{% extends 'templates/index.html'%}
{% load static %}
{% block title %}面孔情绪感知能力测试（fept）{% endblock %}
{% block css %}
	<link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
		<div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >认知分数录入</a></li>
						 <li class="active"><a href="#" >面孔情绪感知能力测试（fept）</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="dashboard_graph x_panel">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>维斯康星卡片分类测验（wcst）</p>
                    </li>
                    <li class="step2 done ">
                      <p>重复成套性神经心理状态测验系统（rbans）</p>
                    </li>
                    <li class="step3 doing">
                      <p>面孔情绪感知能力测试（fept）</p>
                    </li>
                    <li class="step4 nodone ">
                      <p>语音情绪感知能力测试（vept）</p>
					</li>
					<li class="finish nodone ">
                      <p>完成</p>
					</li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
			           <form action="/scales/add_fept?patient_id={{ patient_id }}&patient_session_id={{ patient_session_id }}&questionnaire_type={{ questionnaire_type|add:1 }}" method="post">
                            {%  csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 column">
			                        <table class="table table-hover table-bordered">
				                        <thead>
					                    <tr>
						                    <th>
                                                编号
						                    </th>
                                            <th>
                                                项目
						                    </th>
                                            <th>
                                                分数
						                    </th>
					                    </tr>
				                        </thead>
				                        <tbody>
                                             <tr>
						                        <td>
							                       1
						                        </td>
						                        <td>
							                        平静
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="calm"  required />
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                       2
						                        </td>
						                        <td>
							                        愤怒
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="angry"  required />
						                        </td>
					                        </tr>
                                               <tr>
						                        <td>
							                       3
						                        </td>
						                        <td>
							                        厌恶
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="disgusting"  required />
						                        </td>
					                        </tr>

                                            <tr>
						                        <td>
							                       4
						                        </td>
						                        <td>
							                        恐惧
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="fear"  required />
						                        </td>
					                        </tr>
                                              <tr>
						                        <td>
							                       5
						                        </td>
						                        <td>
							                        高兴
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="happy"  required />
						                        </td>
					                        </tr>
                                              <tr>
						                        <td>
							                       6
						                        </td>
						                        <td>
							                        悲伤
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="sad"  required />
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                       7
						                        </td>
						                        <td>
							                        惊奇
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="wonder"  required />
						                        </td>
					                        </tr>


                                            <tr>
						                        <td colspan="2">
							                       质控：
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="quality_control" min="0.0" step="0.1" required />
						                        </td>
					                        </tr>
                                           {% comment %} <tr>
						                        <td colspan="2">
							                       总分：
						                        </td>
						                        <td>
							                        <input type="number" class="form-control" name="" required />
						                        </td>
					                        </tr>{% endcomment %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          <div class="row">
                                 <div class="form-inline" style="float: right;margin-right: 10px;">
                                     <strong>总分：<input type="number" class="form-control" name="total_score" style="width:100px;"/>分</strong>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <input  type="submit" class="btn btn-success" value="提交"/>
                                  
                                </div>
                            </div>
                        </div>
                        </form>
					</div>
			    </div>
	          </div>
        </div>
    </div>


{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
{% endblock %}