{% extends 'templates/index.html' %}
{% load static %}
{% block title %}快感体验能力量表teps{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >自评量表</a></li>
						 <li class="active"><a href="#" >快感体验能力量表（teps）</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;height: 80%;">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>耶鲁布朗强迫症严重程度标准量表（ybocs）</p>
                    </li>
                    <li class="step2 done notclick">
                      <p>自杀意念及行为史（bss）</p>
                    </li>
                    <li class="step3 done notclick">
                      <p>33项轻躁狂症状清单(hcl-33)</p>
                    </li>
                    <li class="step4 done notclick ">
                      <p>斯奈斯和汉密尔顿快乐量表(shaps)</p>
					</li>
					<li class="step5 doing notclick">
						<p>快感体验能力量表teps</p>
					</li>

					<li class="step7 nodone notclick">
						<p>儿童期（16岁以前）的成长经历ctq-sf</p>
					</li>
					<li class="step8 nodone notclick">
						<p>认知情绪调节量表cerq-c</p>
					</li>
					<li class="step9 nodone notclick">
						<p>青少年生活事件量表aslec</p>
					</li>
					<li class="step10 nodone notclick">
						<p>简式父母养育方式问卷表s-embu</p>
					</li>
					<li class="step11 nodone notclick">
						<p>自动思维问卷表atq</p>
					</li>
                    <li class="finish nodone notclick">
                      <p>完成</p>
                    </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
                       <form name="tepsform" action="/scales/add_pleasure?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}" method="POST" onSubmit="return myCheck(this)">
                           <div class="container">
                            <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
                                <h4><strong><center>快感体验能力量表</center></strong></h4>
                                <strong><i class="fa fa-hand-o-right"></i>&nbsp;<i class="fa fa-hand-o-right"></i>&nbsp;<i class="fa fa-hand-o-right"></i>&nbsp;请仔细阅读每个项目并考虑哪个情况与自己最符合。在遇到自己没有经历过的项目时，请先考虑和自己经历过的与其最相似的情境并作出选择。不必考虑你所选择的答案的一致性。1:完全不符合 &nbsp;2:不符合&nbsp;3:基本不符合&nbsp;4:基本符合&nbsp;5:符合&nbsp;6:完全符合<br/></strong>
                            </div>
                            <div class="row">
                                <div class="col-md-12 column">
			                        <table   class="table " style="width:100%;">
				                        <thead>
					                    <tr>
						                    <th >
                                                <center> 问题</center>
						                    </th>
                                            <th  >
                                                <center> 1</center>
						                    </th>
                                            <th  >
                                                <center> 2</center>
						                    </th>
                                            <th  >
                                                <center> 3</center>
						                    </th>
                                            <th  >
                                                <center> 4</center>
						                    </th>
                                             <th  >
                                                <center> 5</center>
						                    </th>
                                             <th  >
                                                <center> 6</center>
						                    </th>
					                    </tr>
				                        </thead>
				                        <tbody align="left">
                                             <tr>
						                        <td style="width: 40%;">1.当我得知我最喜欢演员的新片上映时，我非常渴望立刻看到。</td>
						                         <td style="width: 10%;"><input type="radio" name="question1_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td style="width: 10%;"><input type="radio" name="question1_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td style="width: 10%;"><input type="radio" name="question1_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td style="width: 10%;"><input type="radio" name="question1_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td style="width: 10%;"><input type="radio" name="question1_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td style="width: 10%;"><input type="radio" name="question1_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>2.当我外出散步时，我很享受深呼吸新鲜空气的感觉</td>
						                         <td><input type="radio" name="question2_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question2_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question2_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question2_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question2_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question2_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>3.新割过草坪的气息让我感到享受</td>
						                         <td><input type="radio" name="question3_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question3_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question3_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question3_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question3_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question3_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>4.在我的生活中，我渴求很多东西</td>
						                         <td><input type="radio" name="question4_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question4_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question4_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question4_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question4_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question4_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>5.我很喜欢长辈抚摸我的头发</td>
						                         <td><input type="radio" name="question5_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question5_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question5_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question5_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question5_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question5_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>6.追求许多愉快事情本身对我来说也是一种快乐</td>
						                         <td><input type="radio" name="question6_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question6_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question6_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question6_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question6_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question6_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>7.寒冷早上一杯热咖啡或茶对我是大大的满足</td>
						                         <td><input type="radio" name="question7_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question7_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question7_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question7_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question7_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question7_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>8.当我想到美味的东西，比如巧克力饼干时，我非得给自己来上一块</td>
						                         <td><input type="radio" name="question8_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question8_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question8_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question8_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question8_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question8_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>9.我喜欢欣赏初雪的美景</td>
						                         <td><input type="radio" name="question9_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question9_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question9_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question9_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question9_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question9_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>10.重大节日前的夜晚，我常常兴奋得无法入眠</td>
						                         <td><input type="radio" name="question10_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question10_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question10_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question10_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question10_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question10_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>11.在去游乐园的路上，我就迫不及待的想去乘坐过山车</td>
						                         <td><input type="radio" name="question11_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question11_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question11_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question11_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question11_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question11_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>12.一个大哈欠会让我浑身舒坦</td>
						                         <td><input type="radio" name="question12_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question12_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question12_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question12_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question12_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question12_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>13.我对在外面餐馆吃饭之类的事情并没什么期待的</td>
						                         <td><input type="radio" name="question13_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question13_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question13_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question13_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question13_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question13_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>14.躺在温暖的床上，我喜欢倾听外面的雨声</td>
						                         <td><input type="radio" name="question14_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question14_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question14_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question14_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question14_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question14_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>15.品尝美食的场景进入脑海时，我几乎都能尝到它的美味</td>
						                         <td><input type="radio" name="question15_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question15_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question15_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question15_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question15_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question15_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>16.点完菜后，我就会想象接下来的美味</td>
						                         <td><input type="radio" name="question16_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question16_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question16_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question16_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question16_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question16_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>17.炉子上烹饪食物的声音让我感觉舒坦</td>
						                         <td><input type="radio" name="question17_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question17_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question17_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question17_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question17_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question17_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                            <tr>
						                        <td>18.当一些令人兴奋的事情即将出现在生活中时，我由衷的期待</td>
						                         <td><input type="radio" name="question18_answer" value=1 data-labelauty="完全不符合"/> </td>
                                                 <td><input type="radio" name="question18_answer" value=2 data-labelauty="不符合"/> </td>
                                                 <td><input type="radio" name="question18_answer" value=3 data-labelauty="基本不符合"/> </td>
                                                 <td><input type="radio" name="question18_answer" value=4 data-labelauty="基本符合"/> </td>
                                                 <td><input type="radio" name="question18_answer" value=5 data-labelauty="符合"/> </td>
                                                 <td><input type="radio" name="question18_answer" value=6 data-labelauty="完全符合"/> </td>
					                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                      {% csrf_token %}
                                    <input  type="submit" class="btn btn-success" value="保存并提交量表，继续下一量表"  id="pleasure_bt"/>

                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
<script type="text/javascript">
  function myCheck(tepsform)
  {
      if (document.tepsform.question1_answer.value=="") {
          alert("问题一不能为空！");
          return false;
      }
      if (document.tepsform.question2_answer.value=="") {
          alert("问题二不能为空！");
          return false;
      }
      if (document.tepsform.question3_answer.value=="") {
          alert("问题三不能为空！");
          return false;
      }
      if (document.tepsform.question4_answer.value=="") {
          alert("问题四不能为空！");
          return false;
      }
      if (document.tepsform.question5_answer.value=="") {
          alert("问题五不能为空！");
          return false;
      }if (document.tepsform.question6_answer.value=="") {
          alert("问题六不能为空！");
          return false;
      }
      if (document.tepsform.question7_answer.value=="") {
          alert("问题七不能为空！");
          return false;
      }
      if (document.tepsform.question8_answer.value=="") {
          alert("问题八不能为空！");
          return false;
      }
      if (document.tepsform.question9_answer.value=="") {
          alert("问题九不能为空！");
          return false;
      }
      if (document.tepsform.question10_answer.value=="") {
          alert("问题十不能为空！");
          return false;
      }
      if (document.tepsform.question11_answer.value=="") {
          alert("问题十一不能为空！");
          return false;
      }
      if (document.tepsform.question12_answer.value=="") {
          alert("问题十二不能为空！");
          return false;
      }
      if (document.tepsform.question13_answer.value=="") {
          alert("问题十三不能为空！");
          return false;
      }
      if (document.tepsform.question14_answer.value=="") {
          alert("问题十四不能为空！");
          return false;
      }
      if (document.tepsform.question15_answer.value=="") {
          alert("问题十五不能为空！");
          return false;
      }
      if (document.tepsform.question16_answer.value=="") {
          alert("问题十六不能为空！");
          return false;
      }
      if (document.tepsform.question17_answer.value=="") {
          alert("问题十七不能为空！");
          return false;
      }
      if (document.tepsform.question18_answer.value=="") {
          alert("问题十八不能为空！");
          return false;
      }
      alert("提交成功！");
      return true;
  }
</script>
{% endblock %}
