{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}病人病史{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
        <div class="container">
        <div class="row show-grid">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                   <li ><a href="#">量表录入</a></li>
                   <li><a href="#" >个人详细信息录入</a></li>
                   <li class="active"><a href="#" >病人病史</a></li>
                   <div style="float: right;margin-bottom: 0px;">
                    <a href="/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"></i><strong>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"></i><strong>&nbsp;跳过该量表</strong></a>
                   </div>
              </ul>
          </div>
        </div>
        </div> 
        <div class="dashboard_graph x_panel">
          <div id="wrapper">
            <div id = "left-side" style="height: 100%;" class="col-md-2">
              <ul class="scales_progress">
                {% for scale_name in scale_name_list %}
                        {% if scale_name|get_item:'scale__scale_name' == '简要病史' %}
                            <li class="step doing  ">
                                <p>一般资料-{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% elif scale_name|get_item:'state' == 0 %}
                            <li class="step nodone notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% else %}
                            <li class="step done notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% endif %}
                        {% endfor %}
                        <li class="finish nodone notclick">
                          <p>完成</p>
                        </li>
              </ul>
            </div>  
             
            <div id="right-side" class="col-md-10">
              <div id="first" class="active">
               <form action="/scales/add_patient_medical_history?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}"
                                      id="patient_medical_history" method="post">
                                    {% csrf_token %}
                                    <div class="container "style="align-content: center">
                                         <div class="x_title">
                                <div class="clearfix"></div>
                                <h2>简要病史 <small>Brief history</small></h2>
                                <div class="clearfix"></div>
                            </div>

                                            <div class="" >
                                                <label class="control-label control-label col-md-12" ><span>1.简要现病史记录：（其中是否有自杀观念、自杀行为、强迫观念、强迫行为等）</span></label>
                                                <br>
                                            </div>

                                            <div class=" " id="patient_big_event_1">
                                                 <div class="form-group" style='margin-top: 20px ;margin-left:30px; margin-bottom: 18px'>

                                                <div class="row">
                                                <textarea   name="disease_history" class="disease_history "  style="resize: none; width: 520px;height: 120px " ></textarea>
                                                    </div>
                                            </div>
                                            </div>

                                        <div class="row " style="margin: 10px">
                                            <label class="control-label col-md-3" >2.前驱期：</label>
                                            <input type="date" name="prophase_begin" id="prophase_begin" onclick="maxtime()" />至 <input type="date" name="prophase_end" id="prophase_end" onclick="mintime()" />
                                        </div>

                                        <div class=" " style="margin: 10px">
                                            <label class="control-label col-md-3">3.首次发病时间（不包括前驱期）：</label>
                                            <input type="date" name="first_time_begin" id="first_time_begin" onclick="maxtime2()" />至 <input type="date" name="first_time_end" id="first_time_end" onclick="mintime2()" />
                                        </div>

                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3"><span>4.首次发病时诊断：</span></label>
                                            <input type="text" name="first_episode_diagnosis"  class="first_episode_diagnosis"/>

                                        </div>

                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3"><span>5.发作次数：（首发患者无需填）</span></label>
                                            <input type="number" name="number_of_episode" min="0"/>

                                        </div>
                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3 "><span>6.本次发作日期</span></label>
                                            <input type="date" name="current_episode_date" id="current_episode_date" onclick="maxtime3()" class="current_episode_date" style="width:200px"/>

                                        </div>
                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3 col-sm-7 "><span>7.本次发作诊断</span></label>
                                            <input type="text" name="current_episode_diagnosis" class="current_episode_diagnosis" />

                                        </div>
                                        <div class="row" style="margin: 10px">
                                            <label class="control-label "><span>8.既往是否服用药物</span></label>
                                                <input   type="radio"  class="historical_drugs   " id="historical_drugs_no" name="historical_drugs" value=0 data-labelauty="否" />
                                            <input  type="radio" class=" historical_drugs  " id="historical_drugs_yes" name="historical_drugs" value=1 data-labelauty="是" />
                                             </div>


                                        <div class="row" id="use_time1" style="margin: 10px">
                                            <label class="control-label col-md-3 col-sm-7 historical_drugs_month_question "><span>多长时间未使用药物(从未使用请填0)</span></label>
                                            <input type="text" class="historical_drugs_month " class="control-label" id="historical_drugs_month" name="historical_drugs_month" value=0 disabled/>
                                        </div>


                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3 col-sm-7"><span>9.扫描时状态：</span></label>
                                            <input class=" col-md-4" type="radio" name="scanning_state" value=0 data-labelauty="不稳定" />
                                            <input class=" col-md-4" type="radio"  name="scanning_state" value=1 data-labelauty="稳定" />
                                        </div>

                                        <div class="row" style="margin: 10px">
                                            <label class="control-label col-md-3 col-sm-7"><span>10.扫描时是否使用药物</span></label>

                                                <input type="radio" class=" col-md-4 scaning_using_drugs" id="scaning_using_drugs_no" name="scaning_using_drugs" value=0 data-labelauty="否" />
                                                <input type="radio" class=" col-md-4 scaning_using_drugs" id="scaning_using_drugs_yes" name="scaning_using_drugs" value=1 data-labelauty="是" />
                                        </div>
                                        <div class="row" style="margin: 10px">
                                        <label class="control-label col-md-3 col-sm-7  scaning_drugs_month_name"><span>多长时间未使用药物(从未使用请填0)</span></label>
                                        <input type="text" class="scaning_drugs_month" id="scaning_drugs_month" name="scaning_drugs_month"  value=0 disabled/>
                                            </div>
                                    </div>
                    <div class="tab-content" align="center">
                            <table class="table table-hover table-bordered  historical_drugs_table" hidden id="historical_drugs_table" >
                                <caption style="text-align:center">既往服用药物</caption>
                                <tr>
                                    <td  valign="top" colspan="9">
                                        <table  border="1" cellpadding="1" cellspacing="0" align="center">
                                            <tr valign="top">
                                                <td height="120">
                                                        <div class="container " >
                                                            <table  border="1" id="planTable" cellpadding="1" cellspacing="1"  >
                                                                <tr align="right">
                                                                   <input name="button" type="button" onClick="addLine()" value="添加" style="background-color: #26B99A ; color:white">
                                                                    <input name="button2" type="button" onClick="delLine()" value="删除" style="background-color: #26B99A ; color:white">
                                                                </tr>
                                                                <tr  bgcolor="#26B99A "  onMouseOver="" style="color: white">
                                                                    <th >
                                                                        用药类型(固定)
                                                                    </th>
                                                                    <th>
                                                                        药物商品名
                                                                    </th>
                                                                    <th>
                                                                        药物通用名
                                                                    </th>
                                                                    <th>
                                                                        药物类别
                                                                    </th>
                                                                    <th>
                                                                        药物剂量（g/mg）
                                                                    </th>
                                                                    <th>
                                                                        服用开始时间
                                                                    </th>
                                                                    <th>
                                                                        服用截至时间
                                                                    </th>
                                                                    <th>
                                                                        备注
                                                                    </th>
                                                                </tr>
                                                                <tbody>
                                                                <tr>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </div>
                   <div class="tab-content" align="center"  >
                            <table class="table table-hover table-bordered  scanning_drugs_table" hidden id="scanning_drugs_table"  >
                                <caption style="text-align:center">扫描时服用药物</caption>
                                <td valign="top" colspan="9">
                                    <table   border="1" cellpadding="1" cellspacing="0"  align="center">
                                        <tr valign="top">
                                            <td height="120" width="70%">
                                                    {% csrf_token %}
                                                    <div class="container ">
                                                        <table   border="1" id="planTable2" cellpadding="1" cellspacing="0"  width="100%"  >
                                                             <tr>
                                                            <input name="button3" type="button" onClick="addLine2()" value="添加" style="background-color: #26B99A ; color:white">
                                                            <input name="button4" type="button" onClick="delLine2()" value="删除" style="background-color: #26B99A ;color:white">
                                                             </tr>
                                                            <tr bgcolor="#26B99A " onMouseOver="" style="color: white" >
                                                                <th >
                                                                    用药类型(固定)
                                                                </th>
                                                                <th>
                                                                    药物商品名
                                                                </th>
                                                                <th>
                                                                    药物通用名
                                                                </th>
                                                                <th>
                                                                    药物类别
                                                                </th>
                                                                <th>
                                                                    药物剂量（g/mg）
                                                                </th>
                                                                <th>
                                                                    服用开始时间
                                                                </th>
                                                                <th>
                                                                    服用截至时间
                                                                </th>
                                                                <th>
                                                                    备注
                                                                </th>


                                                            </tr>
                                                            <tbody>
                                                            <tr>
                                                            </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                </tr>

                            </table>
                        </div>
                                    <div class="row" style="margin-top:30px">
                                        <div class="text-center">
                                            {% csrf_token %}
                                            <!-- {{ form }} -->
                                            <input type="submit" class="btn btn-success" value="保存并提交量表"
                                                   id="medical_history_bt"/>
                                        </div>
                                    </div>


                                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
        


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
   <script> $(document).ready(function(){
	$("input[type='radio']").labelauty();
});
function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

   function mintime(){
        var currentdate = getNowFormatDate();
   var starttime=document.getElementById('prophase_begin').value;
    $("#prophase_end").attr("min",starttime);
    $("#prophase_end").attr("max",currentdate);

  }
 function mintime2(){
    var currentdate = getNowFormatDate();
   var starttime=document.getElementById('first_time_begin').value;
    $("#first_time_end").attr("min",starttime);
     $("#first_time_end").attr("max",currentdate);
  }
  function maxtime(){
        var currentdate = getNowFormatDate();

    $("#prophase_begin").attr("max",currentdate);

  }
  function maxtime2(){
        var currentdate = getNowFormatDate();

    $("#first_time_begin").attr("max",currentdate);

  }
    function maxtime3(){
        var currentdate = getNowFormatDate();

    $("#current_episode_date").attr("max",currentdate);

  }



   </script>

    <script type="text/javascript" src="{% static '/js/subjectEstablish.js' %}">
        //加载模态框
    </script>
    <script>

        $(".historical_drugs").on('click', function (event) {
            var val = $('input:radio[name=historical_drugs]:checked').val();
            if (val == "0") {
                $("#historical_drugs_table").hide();
                $("#historical_drugs_month").removeAttr("disabled");

            } else {

                $("#historical_drugs_month").attr("disabled", true);
                $("#historical_drugs_table").show();

            }
        });

        $(".scaning_using_drugs").on('click', function (event) {
            var val = $('input:radio[name=scaning_using_drugs]:checked').val();
            if (val == "0") {
                $("#scanning_drugs_table").hide()
                $("#scaning_drugs_month").removeAttr("disabled");
            } else {
                $("#scaning_drugs_month").attr("disabled", true);
                $("#scanning_drugs_table").show()
            }
        });
    </script>

    <script language="javascript">

        function addLine() {
            var newLine = planTable.rows.length;
            var row = planTable.insertRow(newLine);

            var col = row.insertCell(0);

            col.innerHTML = "<input type=number min=0  max=1 value=0   name=type_0" + newLine + ">";
            col = row.insertCell(1);

            col.innerHTML = "<input type=text size=7 name=drug_name_0" + newLine + ">";
            col = row.insertCell(2);

            col.innerHTML = "<input type=text size=7 name=drug_general_name_0" + newLine + ">";
            col = row.insertCell(3);

            col.innerHTML = "<input type=text size=7 name=drug_type_0" + newLine + ">";
            col = row.insertCell(4);

            col.innerHTML = "<input type=text  name=dosage_0" + newLine + ">";
            col = row.insertCell(5);

            col.innerHTML = "<input  type=date size=7 name=begin_time_0" + newLine + ">";
            col = row.insertCell(6);

            col.innerHTML = "<input  type=date  size=7 name=end_time_0" + newLine + ">";
            col = row.insertCell(7);

            col.innerHTML = "<input type=text size=7 name=note_0" + newLine + ">";

            return newLine;
        }

        function keyDwonEvent() {
            //alert(event.keyCode);
            var newLine;
            var txt;
            if (event.keyCode == 13 && event.ctrlKey) {
                newLine = addLine();
            }
            /*
            txt = "line"+newLine+"startTime"
            txt.setFocus;alert(txt);*/
        }

        function delLine() {
            var i;
            var count;
            count = planTable.rows.length;
            if (count > 2) {
                planTable.deleteRow(planTable.rows.length - 1)
                for (i = 0; i < count - 1; i++) {
                    //if(document.chk[i].checked){
                    //alert("aa");
                    //}
                }
            }
        }


        function addLine2() {
            var newLine = planTable2.rows.length;
            var row = planTable2.insertRow(newLine);
            var col = row.insertCell(0);
            col.innerHTML = "<input type=number min=0  max=1  value=1  name=type_1" + newLine + ">";

            col = row.insertCell(1);
            col.innerHTML = "<input type=text size=7 name=drug_name_1" + newLine + ">";
            col = row.insertCell(2);
            col.innerHTML = "<input type=text size=7 name=drug_general_name_1" + newLine + ">";
            col = row.insertCell(3);
            col.innerHTML = "<input type=text size=7 name=drug_type_1" + newLine + ">";
            col = row.insertCell(4);
            col.innerHTML = "<input type=text  name=dosage_1" + newLine + ">";
            col = row.insertCell(5);
            col.innerHTML = "<input type=date size=7 name=begin_time_1" + newLine + ">";
            col = row.insertCell(6);
            col.innerHTML = "<input type=date size=7 name=end_time_1" + newLine + ">";
            col = row.insertCell(7);
            col.innerHTML = "<input type=text size=7 name=note_1" + newLine + ">";

            return newLine;
        }

        function keyDwonEvent2() {
            //alert(event.keyCode);
            var newLine;
            var txt;
            if (event.keyCode == 13 && event.ctrlKey) {
                newLine = addLine();
            }
            /*
            txt = "line"+newLine+"startTime"
            txt.setFocus;alert(txt);*/
        }

        function delLine2() {
            var i;
            var count;
            count = planTable2.rows.length;
            if (count > 2) {
                planTable2.deleteRow(planTable2.rows.length - 1)
                for (i = 0; i < count - 1; i++) {
                    //if(document.chk[i].checked){
                    //alert("aa");
                    //}
                }
            }
        }





    </script>


{% endblock %}
