{% extends 'templates/index.html'%}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}自动思维问卷表(atq){% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >自评量表</a></li>
                         <li class="active"><a href="#" >自动思维问卷表(atq)</a></li>
                         <div style="float: right;margin-bottom: 0px;">
							<a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"><strong></i>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
							<a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"><strong></i>&nbsp;跳过该量表</strong></a>	
						 </div>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="dashboard_graph x_panel" style="margin-top:0px;height: 80%;">
                  <div class="dashboard_graph x_panel" style="margin-top:0px;height: 80%;">
                   <div id="left-side" style="height: 100%;" class="col-md-3">
                <ul class="scales_progress">
                    {% for scale_name in scale_name_list %}
                        {% if scale_name|get_item:'scale__scale_name' == '自动思维问卷（ATQ）' %}
                            <li class="step doing">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% elif scale_name|get_item:'state' == 1 %}
                            <li class="step done notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% else %}
                             <li class="step nodone notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="finish nodone notclick">
                        <p>完成</p>
                    </li>
                </ul>
            </div>
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
                     <form name="atqform" action="/scales/add_atq?patient_id={{ patient_id }}&patient_session_id={{ patient_session_id }}" method="post" onSubmit="return myCheck(this)">
                            <div class="container">

                            <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
                                <h4><strong><center>自动思维问卷（ATQ）</center><br/></strong></h4>
                            </div>
                             <div   style="margin: 5px;">指导语：下列是一些可能涌入人们头脑中的想法，请逐条阅读，说明你在最近一周内是否出现过这类想法，其频度如何。请在每一条目后标明相应的数值：1=无；2=偶尔出现；3=有时出现；4=经常出现；5=持续存在。
                             </div>

                            <div class="row">
                                <div class="col-md-12 column">
			                        <table   class="table table-bordered table-condensed" style="table-layout: fixed; width:100%;">
				                        <thead>
					                    <tr>
						                    <th >
                                                <center> </center>
						                    </th>
                                            <th  >
                                                <center> 1</center>
						                    </th>
                                            <th  >
                                                <center> 2</center>
						                    </th>
                                            <th  >
                                                <center> 3</center>
						                    </th>
                                            <th  >
                                                <center> 4</center>
						                    </th>
                                            <th  >
                                                <center> 5</center>
						                    </th>
					                    </tr>
				                        </thead>
				                        <tbody align="center">
                                             <tr>
						                        <td>1.我觉得活在世上困难重重。</td>
                                                 <td><input type="radio"  name="atq_question1" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question1" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question1" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question1" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question1" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>2.我不好。</td>
                                                 <td><input type="radio"  name="atq_question2" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question2" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question2" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question2" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question2" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>3.为什么我总不能成功？</td>
                                                 <td><input type="radio"  name="atq_question3" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question3" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question3" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question3" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question3" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>4.没有人理解我。</td>
                                                 <td><input type="radio"  name="atq_question4" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question4" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question4" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question4" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question4" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>5.我让人失望。</td>
                                                 <td><input type="radio"  name="atq_question5" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question5" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question5" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question5" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question5" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>6.我觉得过不下去了。</td>
                                                 <td><input type="radio"  name="atq_question6" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question6" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question6" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question6" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question6" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>7.真希望我能好一点。</td>
                                                 <td><input type="radio"  name="atq_question7" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question7" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question7" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question7" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question7" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>8.我很虚弱。</td>
                                                 <td><input type="radio"  name="atq_question8" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question8" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question8" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question8" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question8" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>9.我的生活不按我的愿望发展。</td>
                                                 <td><input type="radio"  name="atq_question9" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question9" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question9" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question9" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question9" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>10.我对自己很不满意。</td>
                                                 <td><input type="radio"  name="atq_question10" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question10" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question10" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question10" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question10" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>11.我觉得一切都不好了。</td>
                                                 <td><input type="radio"  name="atq_question11" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question11" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question11" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question11" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question11" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>12.我无法坚持下去。</td>
                                                 <td><input type="radio"  name="atq_question12" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question12" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question12" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question12" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question12" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>13.我无法重新开始。</td>
                                                 <td><input type="radio"  name="atq_question13" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question13" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question13" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question13" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question13" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                            <tr>
						                        <td>14.我究竟犯了什么毛病？</td>
                                                 <td><input type="radio"  name="atq_question14" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question14" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question14" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question14" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question14" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>15.真希望我是在另外一个地方。</td>
                                                 <td><input type="radio"  name="atq_question15" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question15" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question15" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question15" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question15" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>16.我无法同时对付这些事情。</td>
                                                 <td><input type="radio"  name="atq_question16" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question16" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question16" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question16" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question16" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>17.我恨我自己</td>
                                                 <td><input type="radio"  name="atq_question17" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question17" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question17" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question17" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question17" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>18.我毫无价值。</td>
                                                 <td><input type="radio"  name="atq_question18" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question18" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question18" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question18" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question18" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>19.真希望我一下子就消失了。</td>
                                                 <td><input type="radio"  name="atq_question19" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question19" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question19" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question19" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question19" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>20.我这是怎么了？</td>
                                                 <td><input type="radio"  name="atq_question20" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question20" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question20" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question20" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question20" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>21.我是个失败者。</td>
                                                 <td><input type="radio"  name="atq_question21" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question21" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question21" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question21" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question21" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>22.我的生活一团糟。</td>
                                                 <td><input type="radio"  name="atq_question22" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question22" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question22" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question22" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question22" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>23.我一事无成。</td>
                                                 <td><input type="radio"  name="atq_question23" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question23" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question23" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question23" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question23" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>24.我不可能干好。</td>
                                                 <td><input type="radio"  name="atq_question24" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question24" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question24" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question24" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question24" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>25.我觉得孤立无援。</td>
                                                 <td><input type="radio"  name="atq_question25" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question25" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question25" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question25" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question25" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>26.有些东西必须改变。</td>
                                                 <td><input type="radio"  name="atq_question26" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question26" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question26" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question26" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question26" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>27.我肯定有问题。</td>
                                                 <td><input type="radio"  name="atq_question27" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question27" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question27" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question27" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question27" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>28.我的将来毫无希望。</td>
                                                 <td><input type="radio"  name="atq_question28" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question28" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question28" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question28" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question28" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>29.这根本毫无价值。</td>
                                                 <td><input type="radio"  name="atq_question29" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question29" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question29" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question29" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question29" value=5 data-labelauty="持续存在"/></td>
					                        </tr>
                                         <tr>
						                        <td>30.我干什么事都有头无尾。</td>
                                                 <td><input type="radio"  name="atq_question30" value=1 data-labelauty="无"/></td>
                                                 <td><input type="radio"  name="atq_question30" value=2 data-labelauty="偶尔出现"/></td>
                                                 <td><input type="radio"  name="atq_question30" value=3 data-labelauty="有时出现"/></td>
                                                 <td><input type="radio"  name="atq_question30" value=4 data-labelauty="经常出现"/></td>
                                                 <td><input type="radio"  name="atq_question30" value=5 data-labelauty="持续存在"/></td>
					                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    {% csrf_token %}
                                    <input  type="submit" class="btn btn-success" value="提交" id="atq_bt" />

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
<script type="text/javascript">
    function myCheck(atqform)
    {
        if (document.atqform.atq_question1.value=="") {
            alert("问题一不能为空！");
            return false;
        }
        if (document.atqform.atq_question2.value=="") {
            alert("问题二不能为空！");
            return false;
        }
        if (document.atqform.atq_question3.value=="") {
            alert("问题三不能为空！");
            return false;
        }
        if (document.atqform.atq_question4.value=="") {
            alert("问题四不能为空！");
            return false;
        }
        if (document.atqform.atq_question5.value=="") {
            alert("问题五不能为空！");
            return false;
        }if (document.atqform.atq_question6.value=="") {
            alert("问题六不能为空！");
            return false;
        }
        if (document.atqform.atq_question7.value=="") {
            alert("问题七不能为空！");
            return false;
        }
        if (document.atqform.atq_question8.value=="") {
            alert("问题八不能为空！");
            return false;
        }
        if (document.atqform.atq_question9.value=="") {
            alert("问题九不能为空！");
            return false;
        }
        if (document.atqform.atq_question10.value=="") {
            alert("问题十不能为空！");
            return false;
        }
        if (document.atqform.atq_question11.value=="") {
            alert("问题十一不能为空！");
            return false;
        }
        if (document.atqform.atq_question12.value=="") {
            alert("问题十二不能为空！");
            return false;
        }
        if (document.atqform.atq_question13.value=="") {
            alert("问题十三不能为空！");
            return false;
        }
        if (document.atqform.atq_question14.value=="") {
            alert("问题十四不能为空！");
            return false;
        }
        if (document.atqform.atq_question15.value=="") {
            alert("问题十五不能为空！");
            return false;
        }
        if (document.atqform.atq_question16.value=="") {
            alert("问题十六不能为空！");
            return false;
        }
        if (document.atqform.atq_question17.value=="") {
            alert("问题十七不能为空！");
            return false;
        }
        if (document.atqform.atq_question18.value=="") {
            alert("问题十八不能为空！");
            return false;
        }
        if (document.atqform.atq_question19.value=="") {
            alert("问题十九不能为空！");
            return false;
        }
        if (document.atqform.atq_question20.value=="") {
            alert("问题二十不能为空！");
            return false;
        }
        if (document.atqform.atq_question21.value=="") {
            alert("问题二十一不能为空！");
            return false;
        }
        if (document.atqform.atq_question22.value=="") {
            alert("问题二十二不能为空！");
            return false;
        }
        if (document.atqform.atq_question23.value=="") {
            alert("问题二十三不能为空！");
            return false;
        }
        if (document.atqform.atq_question24.value=="") {
            alert("问题二十四不能为空！");
            return false;
        }
        if (document.atqform.atq_question25.value=="") {
            alert("问题二十五不能为空！");
            return false;
        }
        if (document.atqform.atq_question26.value=="") {
            alert("问题二十六不能为空！");
            return false;
        }
        if (document.atqform.atq_question27.value=="") {
            alert("问题二十七不能为空！");
            return false;
        }
        if (document.atqform.atq_question28.value=="") {
            alert("问题二十八不能为空！");
            return false;
        }
        if (document.atqform.atq_question29.value=="") {
            alert("问题二十八不能为空！");
            return false;
        }
        if (document.atqform.atq_question30.value=="") {
            alert("问题二十八不能为空！");
            return false;
        }
  
        alert("提交成功！");
        return true;
    }
    </script>
{% endblock %}
