{% extends 'templates/index.html'%}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}简式父母养育方式问卷表（s_embu）{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
    <style>
    .area_block input.labelauty + label{
	    margin-bottom:0px;
        width:100px;
	    display:inline-block;
	    font-size: 13px;
        padding: 1px;
        text-align: center;
	    background-color: #efefef;
	    color: #b3b3b3;
	    cursor: pointer;
	    border-radius: 3px 3px 3px 3px;
	    -moz-border-radius: 3px 3px 3px 3px;
	    -webkit-border-radius: 3px 3px 3px 3px;
    }
    .patient_block input.labelauty + label{
	    margin-bottom:0px;
        width:200px;
	    display:inline-block;
	    font-size: 13px;
        padding: 1px;
        text-align: center;
	    background-color: #efefef;
	    color: #b3b3b3;
	    cursor: pointer;
	    border-radius: 3px 3px 3px 3px;
	    -moz-border-radius: 3px 3px 3px 3px;
	    -webkit-border-radius: 3px 3px 3px 3px;
    }
    .area_block label{
        vertical-align: middle;
    }
    </style>
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >自评量表</a></li>
                         <li class="active"><a href="#" >简式父母养育方式问卷表（s_embu）</a></li>
                         <div style="float: right;margin-bottom: 0px;">
							<a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"><strong></i>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
							<a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"><strong></i>&nbsp;跳过该量表</strong></a>	
						 </div>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="dashboard_graph x_panel" style="margin-top:0px;height:85%">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;margin-left: 10px;" class="col-md-2">
                  <ul class="scales_progress">
                    {% for scale_name in scale_name_list %}
                        {% if scale_name|get_item:'scale__scale_name' == '简式父母养育方式问卷（S-Embu）' %}
                            <li class="step doing  ">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% elif scale_name|get_item:'state' == 0 %}
                            <li class="step nodone notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% else %}
                            <li class="step done notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% endif %}
                        {% endfor %}
                        <li class="finish nodone notclick">
                          <p>完成</p>
                        </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
			            <form name="s_embuform" action="/scales/add_sembu?patient_id={{ patient_id }}&patient_session_id={{ patient_session_id }}" method="post"  onSubmit="return myCheck(this)">
                            <div class="container">
                                <div class="col-md-12  text-center">
                                    <h4><strong>简式父母养育方式问卷（s-embu）</strong></h4>
                                </div>
  
                                <div class="row" style="margin: 5px;">
                                    <div class="col-md-3">
                                        <label>入学年份:</label><input type="text" name="enrollmentyear"/>
                                    </div>
                                    <div class="col-md-3">    
                                        <label>年级: </label> <input type="text" name="grade"/>
                                    </div>
                                    <div class="col-md-6 area_block">
                                        <label>地区：</label>
                                        <input type="radio" name="area" value=0 data-labelauty="城市" />
                                        <input type="radio" name="area" value=1 data-labelauty="乡村" />
                                    </div>
                                </div>
                                <div class="row" style="margin: 5px;"> 
                                    <div class="col-md-3 area_block">
                                        <label>父母情况:</label>
                                    </div>  
                                    <div class="col-md-6 patient_block">
                                        <input type="radio" name="parent" value=0 data-labelauty="双亲家庭" style="width: 60px;"/>
                                        <input type="radio" name="parent" value=1 data-labelauty="单亲（母亲死亡）"/>
                                        <input type="radio" name="parent" value=2 data-labelauty="单亲（父亲死亡）"/>
                                        <input type="radio" name="parent" value=3 data-labelauty="单亲（父母离异，跟母亲）"/>
                                        <input type="radio" name="parent" value=4 data-labelauty="单亲（父母离异，跟父亲）"/>
                                        <input type="radio" name="parent" value=5 data-labelauty="父母死亡"/>
                                    </div>    
                                </div> 
                                <div class="row" style="margin: 5px;">
                                    <div class="col-md-3 area_block">
                                        <label>你认为你的成绩在班级中为：</label>
                                    </div> 
                                    <div class="col-md-6 area_block">   
                                        <input type="radio" name="gradelevel" value=0 data-labelauty="上" >
                                        <input type="radio" name="gradelevel" value=1 data-labelauty="中上"/>
                                        <input type="radio" name="gradelevel" value=2 data-labelauty="中"/>
                                        <input type="radio" name="gradelevel" value=3 data-labelauty="中下"/>
                                        <input type="radio" name="gradelevel" value=4 data-labelauty="下"/>
                                    </div>
                                </div>
                                <div style="border: 1px solid #DDDDDD;margin-bottom: 10px;">
                                </div>       
                                <div class="row" style="margin: 5px;">
                                    <strong>指导语：请您分别选择最适合您父亲和您母亲的等级。每题只准选一个答案。您父亲和母亲对您的教养方式可能是相同的，也可能是不同的。请您实事求是地分别回答。如果您幼小时候父母不全，可以只回答父亲或母亲一栏。</strong>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table ">

				                        <tbody>
                                             <tr>
                                                 <th rowspan="2">1.父\母亲常常在我不知道原因的情况下对我大发脾气</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question1_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question1_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question1_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question1_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question1_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question1_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question1_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question1_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <th rowspan="2">2.父\母亲赞美我</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question2_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question2_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question2_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question2_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question2_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question2_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question2_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question2_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">3.我希望父\母亲对我正在做的事不要过分担心</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question3_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question3_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question3_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question3_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question3_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question3_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question3_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question3_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">4.父\母亲对我的惩罚往往超过我应受的程度</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question4_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question4_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question4_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question4_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question4_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question4_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question4_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question4_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">5.父\母亲要求我回到家里必须得向她说明我在外面做了什么事</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question5_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question5_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question5_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question5_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question5_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question5_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question5_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question5_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">6.我觉得父\母亲尽量使我的青少年时期的生活更有意义和丰富多彩</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question6_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question6_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question6_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question6_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question6_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question6_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question6_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question6_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">7.父\母亲经常当着别人的面批评我既懒惰又无用</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question7_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question7_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question7_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question7_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question7_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question7_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question7_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question7_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">8.父\母亲不允许我做一些其他孩子可以做的事情，因为他（她）害怕我会出事</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question8_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question8_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question8_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question8_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question8_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question8_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question8_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question8_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">9.父\母亲总试图鼓励我，使我成为佼佼者</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question9_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question9_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question9_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question9_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question9_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question9_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question9_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question9_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">10.我觉得父\母亲对我可能出事的担心是夸大的、过分的</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question10_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question10_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question10_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question10_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question10_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question10_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question10_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question10_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>

                                        <tr>
                                                 <th rowspan="2">11.当遇到不顺心的事时，我能感到父\母亲在尽量鼓励我，使我得到安慰</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question11_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question11_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question11_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question11_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question11_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question11_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question11_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question11_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <th rowspan="2">12.我在家里往往被当作“替罪羊”或“害群之马”</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question12_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question12_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question12_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question12_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question12_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question12_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question12_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question12_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">13.我能通过父\母亲的言谈、表情感受到他（她）很喜欢我</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question13_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question13_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question13_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question13_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question13_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question13_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question13_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question13_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">14.父\母亲常以一种使我很难堪的方式对待我</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question14_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question14_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question14_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question14_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question14_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question14_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question14_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question14_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">15.父\母亲常常允许我到我喜欢去的地方，而他（她）又不会过分担心</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question15_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question15_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question15_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question15_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question15_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question15_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question15_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question15_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">16.我觉得父\母亲干涉我做的任何一件事</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question16_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question16_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question16_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question16_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question16_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question16_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question16_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question16_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">17.我觉得与父\母亲之间存在一种温暖、体贴和亲热的感觉</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question17_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question17_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question17_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question17_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question17_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question17_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question17_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question17_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">18.父\母亲对我该做什么、不该做什么都有严格的限制而且决不让步</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question18_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question18_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question18_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question18_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question18_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question18_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question18_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question18_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">19.即使是很小的过错，父\母亲也惩罚我</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question19_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question19_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question19_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question19_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question19_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question19_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question19_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question19_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">20.父\母亲总是左右我该穿什么衣服或该打扮成什么样子</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question20_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question20_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question20_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question20_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question20_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question20_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question20_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question20_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        <tr>
                                                 <th rowspan="2">21.当我做的事情取得成功时，我觉得父\母亲很为我自豪</th>
                                                 <td>父</td>
                                                 <td><input type="radio" name="question21_father" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question21_father" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question21_father" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question21_father" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                             <tr>
                                                 <td>母</td>
                                                 <td><input type="radio" name="question21_mother" value=1 data-labelauty="从不" /></td>
						                         <td><input type="radio" name="question21_mother" value=2 data-labelauty="偶尔" /></td>
                                                 <td><input type="radio" name="question21_mother" value=3 data-labelauty="经常" /></td>
                                                 <td><input type="radio" name="question21_mother" value=4 data-labelauty="总是" /></td>
                                             </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="text-center">
                                       {% csrf_token %}
                                       <input  type="submit" class="btn btn-success" value="保存并提交量表，继续下一量表"/>
                                   </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
<script type="text/javascript">
    
   function myCheck(s_embuform)
    {
        alert(进来哦);
        if (document.s_embuform.enrollmentyear.value=="") {
            alert("入学年份不能为空！");
            return false;
        }
        if (document.s_embuform.grade.value=="") {
            alert("年级不能为空！");
            return false;
        }
        if (document.s_embuform.patient.value=="") {
            alert("家庭情况不能为空！");
            return false;
        }
        if (document.s_embuform.area.value=="") {
            alert("地区类型不能为空！");
            return false;
        }
        if (document.s_embuform.question1_father.value=="") {
            alert("问题一不能为空！");
            return false;
        }
        if (document.s_embuform.question1_mother.value=="") {
            alert("问题一不能为空！");
            return false;
        }
        if (document.s_embuform.question2_father.value=="") {
            alert("问题二不能为空！");
            return false;
        }
        if (document.s_embuform.question2_mother.value=="") {
            alert("问题二不能为空！");
            return false;
        }
        if (document.s_embuform.question3_father.value=="") {
            alert("问题三不能为空！");
            return false;
        }
        if (document.s_embuform.question3_mother.value=="") {
            alert("问题三不能为空！");
            return false;
        }
        if (document.s_embuform.question4_father.value=="") {
            alert("问题四不能为空！");
            return false;
        }
        if (document.s_embuform.question4_mother.value=="") {
            alert("问题四不能为空！");
            return false;
        }
        if (document.s_embuform.question5_father.value=="") {
            alert("问题五不能为空！");
            return false;
        }
        if (document.s_embuform.question5_mother.value=="") {
            alert("问题五不能为空！");
            return false;father
        }
        if (document.s_embuform.question6_father.value=="") {
            alert("问题六不能为空！");
            return false;
        }
        if (document.s_embuform.question6_mother.value=="") {
            alert("问题六不能为空！");
            return false;father
        }
        if (document.s_embuform.question7_father.value=="") {
            alert("问题七不能为空！");
            return false;
        }
        if (document.s_embuform.question7_mother.value=="") {
            alert("问题七不能为空！");
            return false;
        }
        if (document.s_embuform.question8_father.value=="") {
            alert("问题八不能为空！");
            return false;
        }
        if (document.s_embuform.question8_mother.value=="") {
            alert("问题八不能为空！");
            return false;
        }
        if (document.s_embuform.question9_father.value=="") {
            alert("问题九不能为空！");
            return false;
        }
        if (document.s_embuform.question9_mother.value=="") {
            alert("问题九不能为空！");
            return false;
        }
        if (document.s_embuform.question10_father.value=="") {
            alert("问题十不能为空！");
            return false;
        }
        if (document.s_embuform.question10_mother.value=="") {
            alert("问题十不能为空！");
            return false;
        }
        if (document.s_embuform.question11_father.value=="") {
            alert("问题十一不能为空！");
            return false;
        }
        if (document.s_embuform.question11_mother.value=="") {
            alert("问题十一不能为空！");
            return false;
        }
        if (document.s_embuform.question12_father.value=="") {
            alert("问题十二不能为空！");
            return false;
        }
        if (document.s_embuform.question12_mother.value=="") {
            alert("问题十二不能为空！");
            return false;
        }
        if (document.s_embuform.question13_father.value=="") {
            alert("问题十三不能为空！");
            return false;
        }
        if (document.s_embuform.question13_mother.value=="") {
            alert("问题十三不能为空！");
            return false;
        }
        if (document.s_embuform.question14_father.value=="") {
            alert("问题十四不能为空！");
            return false;
        }
        if (document.s_embuform.question14_mother.value=="") {
            alert("问题十四不能为空！");
            return false;
        }
        if (document.s_embuform.question15_father.value=="") {
            alert("问题十五不能为空！");
            return false;
        }
        if (document.s_embuform.question15_mother.value=="") {
            alert("问题十五不能为空！");
            return false;
        }
        if (document.s_embuform.question16_father.value=="") {
            alert("问题十六不能为空！");
            return false;
        }
        if (document.s_embuform.question16_mother.value=="") {
            alert("问题十六不能为空！");
            return false;
        }
        if (document.s_embuform.question17_father.value=="") {
            alert("问题十七不能为空！");
            return false;
        }
        if (document.s_embuform.question17_mother.value=="") {
            alert("问题十七不能为空！");
            return false;
        }
        if (document.s_embuform.question18_father.value=="") {
            alert("问题十八不能为空！");
            return false;
        }
        if (document.s_embuform.question18_mother.value=="") {
            alert("问题十八不能为空！");
            return false;
        }
        if (document.s_embuform.question19_father.value=="") {
            alert("问题十九不能为空！");
            return false;
        }
        if (document.s_embuform.question19_mother.value=="") {
            alert("问题十九不能为空！");
            return false;
        }
        if (document.s_embuform.question20_father.value=="") {
            alert("问题二十不能为空！");
            return false;
        }
        if (document.s_embuform.question20_mother.value=="") {
            alert("问题二十不能为空！");
            return false;
        }
        if (document.s_embuform.question21_father.value=="") {
            alert("问题二十一不能为空！");
            return false;
        }
        if (document.s_embuform.question21_mother.value=="") {
            alert("问题二十一不能为空！");
            return false;
        }
        alert("提交成功！");
        return true;
    }
    </script>
{% endblock %}
