{% extends 'templates/index.html'%}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}学习情况{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
    <style>
  .row input.labelauty + label{
    margin-bottom:0px;
    width:150px;
	  display:inline-block;
	  font-size: 13px;
    padding: 3px;
    text-align: center;
	  background-color: #efefef;
	  color: #b3b3b3;
	  cursor: pointer;
	  border-radius: 3px 3px 3px 3px;
	  -moz-border-radius: 3px 3px 3px 3px;
	  -webkit-border-radius: 3px 3px 3px 3px;
  }
</style>
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
        <div class="container">
        <div class="row show-grid">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                   <li ><a href="#">量表录入</a></li>
                   <li><a href="#" >个人详细信息录入</a></li>
                   <li class="active"><a href="#" >家庭信息</a></li>
                   <div style="float: right;margin-bottom: 0px;">
                    <a href="/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"><strong></i>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
                   </div>
              </ul>
          </div>
        </div>
        </div> 
        <div class="dashboard_graph x_panel" style="height:80%;">
          <div id="wrapper">
            <div id = "left-side" style="height: 100%;" class="col-md-2">
              <ul class="scales_progress">
                {% for scale_name in scale_name_list %}
                        {% if scale_name|get_item:'scale__scale_name' == '一般资料－学习情况' %}
                            <li class="step doing  ">
                                <p>一般资料-{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% elif scale_name|get_item:'state' == 0 %}
                            <li class="step nodone notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% else %}
                            <li class="step done notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% endif %}
                        {% endfor %}
                        <li class="finish nodone notclick">
                          <p>完成</p>
                        </li>
              </ul>
            </div>   
            <div id="right-side" class="col-md-10">
              <div id="first" class="active">
                  <form name="studyform" action="/scales/add_study?patient_id={{ patient_id }}&patient_session_id={{ patient_session_id }}&questionnaire_type={{ questionnaire_type|add:1 }}" method="post" onSubmit="return myCheck(this)">
                                <div class="x_content">
                                     <div class="x_title">
                    <div class="clearfix"></div>
                    <h2>学习情况 <small>Study</small></h2>
                    <div class="clearfix"></div>
                  </div>
                    <br>
<!--                    最后一次大考-->
                    <div class="form-group row">
                      <label class="control-label col-md-4 col-sm-6 col-md-offset-3">最近一次大考(期中或期末)中，您在班级的排名大约为:<span class="  "></span></label>
                      <div class="col-md-2 col-sm-3">
                          <select class="form-control" name="patient_current_achievement" id="patient_current_achievement" style="width:200px">
                            <option value="1">前10%=1</option>
                            <option value="2">11-25%=2</option>
                            <option value="3">26-50%=3</option>
                            <option value="4">51-75%=4</option>
                            <option value="5">后24%=5</option>
                            <option value="6">学校不公布排名=6</option>
                          </select>
                      </div>
                    </div>
                    <br>
<!--本学期相比于上个学期，学习成绩变动情况-->
                    <div class="form-group row">
                      <label class="control-label col-md-3 col-sm-5 col-md-offset-4">本学期相比于上个学期，学习成绩变动情况:<span class="  "></span></label>
                      <div class="col-md-1 col-sm-3">
                          <select class="form-control" name="patient_last_semester_achievement_difference" id="patient_last_semester_achievement_difference" style="width:200px">
                            <option value="1">进步=1</option>
                            <option value="2">退步=2</option>
                            <option value="3">稳定=3</option>
                          </select>
                      </div>
                    </div>
                    <br>
<!--                    有情绪方面的症状前后，学习成绩变动情况-->
                    <div class="form-group row" >
                      <label class="control-label col-md-3 col-sm-5 col-md-offset-4">有情绪方面的症状前后，学习成绩变动情况:<span class="  "></span></label>
                      <div class="col-md-1 col-sm-3">
                          <select class="form-control" name="patient_mood_symptom_achievement_difference" id="patient_mood_symptom_achievement_difference" style="width:200px">
                            <option value="1">进步=1</option>
                            <option value="2">退步=2</option>
                            <option value="3">稳定=3</option>
                          </select>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label class="control-label col-md-3 col-sm-4 col-md-offset-2">是否担任过班级或学校的学生干部:<span class="  "></span></label>
                      <div class="col-md-1 col-sm-1 " id="patient_leader_1">
                        <input type="radio" name="patient_leader" value=1 data-labelauty="是"/>
                      </div>
                      <div class="col-md-1 col-sm-1 " id="patient_leader_2">
                        <input type="radio" name="patient_leader" value=0 data-labelauty="否"/>
                      </div>
                        <div  class="suicides_next_question" id = "suicides_next_question001">
                      <label class="control-label col-md-2 col-sm-2 " >担任职务:<span class="  "></span></label>
                      <div class="col-md-2 col-sm-2 form-group" >
                        <input type="text" id="patient_leader_occupation" name="patient_leader_occupation" class="form-control"    >
                      </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="control-label  col-md-2 col-sm-3 col-md-offset-3 col-sm-offset-1">是否在学校寄宿:<span class="  "></span></label>
                      <div class="col-md-1 col-sm-1 " id="patient_live_school_1">
                        <input type="radio"  name="patient_live_school" value=1 data-labelauty="是"/>
                      </div>
                      <div class="col-md-1 col-sm-1 " id="patient_live_school_2">
                        <input type="radio" name="patient_live_school" value=0 data-labelauty="否" />
                      </div>
                        <div  class="suicides_question" id = "suicides_next_question001">
                      <label class="control-label col-md-2 col-sm-2 ">每月回家的次数:<span class="  "></span></label>
                      <div class="col-md-2 col-sm-2 form-group ">
                        <input type="text" id="patient_home_frequency" name="patient_home_frequency" class="form-control"   >
                      </div>
                        </div>
                    </div>
                    <br>
                  </div>
                       <div class=" row">
                                <div  class="col-md-4 col-sm-6 text-center" style="text-align: center">
                                   <a  href="#"><button type="button" class="btn btn-warning" id="bt_return">返回上一量表</button></a>
                                </div>
                                <div  class="col-md-4 col-sm-6">
                                     {% csrf_token %}
                                    <input  type="submit" class="btn btn-success text-center"  value="保存提交量表" >
                                </div>
                                 <div class="col-md-4 col-sm-6">
                                     <a href="/scales/skip_scale?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{scale_id}}"  style="float: right"><u>跳过该量表</u></a>
                                 </div>
                            </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
       </div>
    


{% endblock %}

{% block js %}
    <script>
$(document).ready(function(){
    $(".suicides_next_question").hide();
    $(".suicides_question").hide();
    $("input:radio[name='patient_leader']").click(function() {
        patient_leader = $(this).val();
        if (Number(patient_leader == 0)) {
            $(".suicides_next_question").hide();
            $("input[name='patient_leader_occupation']").attr('disabled','disabled');
        }
        if (Number(patient_leader == 1)) {
            $("input[name='patient_leader_occupation']").removeAttr("disabled");
            $(".suicides_next_question").show();
        }
    });
    $("input:radio[name='patient_live_school']").click(function() {
        patient_live_school = $(this).val();
        if (Number(patient_live_school == 0)) {
            $(".suicides_question").hide();
            $("input[name='patient_home_frequency']").attr('disabled','disabled');
        }
        if (Number(patient_live_school == 1)) {
            $("input[name='patient_home_frequency']").removeAttr("disabled");
            $(".suicides_question").show();
        }
    });
});
</script>
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
{% comment %}<script type="text/javascript">
      function myCheck(studyform)
      {
          if (document.studyform.patient_current_achievement.value=="") {
              alert("问题一不能为空！");
              return false;
          }
          if (document.studyform.patient_last_semester_achievement_difference.value=="") {
              alert("问题二不能为空！");
              return false;
          }
          if (document.studyform.patient_mood_symptom_achievement_difference.value=="") {
              alert("问题三不能为空！");
              return false;
          }
          if (document.studyform.patient_leader.value=="") {
              alert("问题四不能为空！");
              return false;
          }

          if (document.studyform.patient_live_school.value=="") {
              alert("问题五不能为空！");
              return false;
          }
          alert("提交成功！");
          return true;
      }
    </script>{% endcomment %}
<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
{% endblock %}
