{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}自杀意念及行为史bss{% endblock %}
{% block css %}
    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet" >
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main" >
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >自评量表</a></li>
						 <li class="active"><a href="#" >自杀意念及行为史bss</a></li>
						 <div style="float: right;margin-bottom: 0px;">
							<a href="/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"><strong></i>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
							<a href="#" class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"><strong></i>&nbsp;跳过该量表</strong></a>	
						 </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;height: 83%;">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;margin-left: 10px;" class="col-md-2">
                  <ul class="scales_progress">
					{% for scale_name in scale_name_list %}
					{% if scale_name|get_item:'scale__scale_name' == '自杀意念及行为史' %}
						<li class="step doing  ">
							<p>{{ scale_name|get_item:'scale__scale_name' }}</p>
						</li>
					{% elif scale_name|get_item:'state' == 0 %}
						<li class="step nodone notclick">
							<p>{{ scale_name|get_item:'scale__scale_name' }}</p>
						</li>
					{% else %}
						<li class="step done notclick">
							<p>{{ scale_name|get_item:'scale__scale_name' }}</p>
						</li>
					{% endif %}
					{% endfor %}
                    <li class="finish nodone notclick">
                      <p>完成</p>
                    </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10" >
                  <div id="first" class="active">
                      <form name="bssform" action="/scales/add_suicide?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}" method="POST" id="zisha_form" onSubmit="return myCheck(this)">
						<div class="container">
							<div class="col-md-12 text-center">
								<h4><strong> 贝克自杀意念及强度量表</strong></h4>
							</div>
							<div class="row suicide_title" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
								<div style="float: left; margin-top: 5px;"><strong>您是否有过自杀行为史（自杀未遂或自伤）?</strong></div>
								<input type="radio" name="suicide_history" class="suicide_no" value=0 data-labelauty="否" /> 
								<input type="radio" name="suicide_history" class="suicide_yes" value=1 data-labelauty="是"/>
							</div>
							<div class="row" id = "suicides_times_block" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">	
								<strong>如果有过自杀行为史，记录次数：<input type="text" name="suicide_times" class="suicides_times_content" id="suicides_times_content" value="0"/>     次<br/></strong>
							</div>
							<div class="row"  style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">	
								<h5><strong><i class="fa fa-hand-o-down"></i>&nbsp;<i class="fa fa-hand-o-down"></i>&nbsp;<i class="fa fa-hand-o-down"></i>&nbsp;指导语：下述项目是一些有关您对生命和死亡想法的问题。每个问题既问最近一周您是如何感觉的，又问既往您最消沉、最代或自杀倾向最严重的时候是如何感觉的。每个问题的答案各有不同，请您注意听清提问和备选答案，然后根据您的情况选择最适合的答案。</strong></h5>				
							</div>
							<div class="row">
								<div class="col-md-12 column">
									<table class="table " style="width:100%;">
										<tbody>
												<tr>
													<th  colspan="6">
														1. 您希望活下去的程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="question1_lastweek"  class="form-control"  value=1 data-labelauty="中等到强烈"/>
													</td>
													<td>
														<input type="radio" name="question1_lastweek"  class="form-control"   value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio"  name="question1_lastweek" class="form-control"   value=3 data-labelauty="没有活着的欲望"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="form-control" name="question1_mostdepressed"  value=1 data-labelauty="中等到强烈"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question1_mostdepressed"  value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question1_mostdepressed" value=3 data-labelauty="没有活着的欲望"/>
													</td>
												</tr>
												<tr>
													<th  colspan="6">
														2. 您希望死去的程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"   class="form-control" name="question2_lastweek" value=1 data-labelauty="没有死去的欲望"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question2_lastweek" value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question2_lastweek" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="form-control" name="question2_mostdepressed" value=1 data-labelauty="没有死去的欲望"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question2_mostdepressed" value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio" class="form-control" name="question2_mostdepressed"  value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
												<tr>
													<th  colspan="6">
														3. 您要活下去的理由胜过您要死去的理由吗?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"   class="form-control" name="question3_lastweek" value=1 data-labelauty="要活下去胜过要死去"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question3_lastweek" value=2 data-labelauty="二者相当"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question3_lastweek" value=3 data-labelauty="要死去胜过要活下来"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="form-control" name="question3_mostdepressed"  value=1 data-labelauty="要活下去胜过要死去"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question3_mostdepressed"  value=2 data-labelauty="二者相当"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question3_mostdepressed"  value=3 data-labelauty="要死去胜过要活下来"/>
													</td>
												</tr>
												<tr>
													<th  colspan="6">
														4. 您主动尝试自杀的愿望程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio" class="suicide_question_4_1_0 " name="question4_lastweek" value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_4_1_other " name="question4_lastweek" value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_4_1_other " name="question4_lastweek" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="suicide_question_4_2_0 " name="question4_mostdepressed" value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_4_2_other " name="question4_mostdepressed" value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_4_2_other " name="question4_mostdepressed" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
												<tr>
													<th  colspan="6">
														5. 您希望外力结束自己生命，即有“被动自杀愿望”的程度如何?（如，希望一直睡下去不再醒来、意外地死去等）
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio" class="suicide_question_5_1_0 " name="question5_lastweek" value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_5_1_other" name="question5_lastweek" value=2 data-labelauty="弱" />
													</td>
													<td>
														<input type="radio" class="suicide_question_5_1_other" name="question5_lastweek" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="suicide_question_5_2_0 " name="question5_mostdepressed"  value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_5_2_other " name="question5_mostdepressed"  value=2 data-labelauty="弱"/>
													</td>
													<td>
														<input type="radio" class="suicide_question_5_2_other " name="question5_mostdepressed" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 column">
                                    <div  class="suicides_next_question" id = "suicides_next_question001">
                                        <table class="table " style="width:100%;">
                                            <tbody>
												<tr >
													<th  colspan="6">
														6. 您的这种自杀想法持续存在多长时间?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="form-control" name="question6_lastweek"  value=1 data-labelauty="短暂、一闪即逝"/>
													</td>
													<td>
														<input type="radio"  class="form-control" name="question6_lastweek" value=2 data-labelauty="较长时间"/>
													</td>
													<td>
														<input type="radio" class="form-control" name="question6_lastweek" value=3 data-labelauty="持续或几乎是持续的"/>
													</td>
													<td>
														<input type="radio" class="form-control" name="question6_lastweek" value=0 data-labelauty="近一周无自杀想法"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question6_mostdepressed"  value=1 data-labelauty="短暂、一闪即逝"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question6_mostdepressed"  value=2 data-labelauty="较长时间"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question6_mostdepressed"  value=3 data-labelauty="持续或几乎是持续的"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														7. 您自杀想法出现的频度如何?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"   class="condition_required" name="question7_lastweek" value=1 data-labelauty="极少、偶尔"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question7_lastweek" value=2 data-labelauty="有时"/>
													</td>
													<td>
														<input type="radio"   class="condition_required" name="question7_lastweek" value=3 data-labelauty="经常或持续"/>
													</td>
													<td>
														<input type="radio"   class="condition_required" name="question7_lastweek" value=0 data-labelauty="近一周无自杀想法"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="condition_required" name="question7_mostdepressed"   value=1 data-labelauty="极少、偶尔"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question7_mostdepressed"   value=2 data-labelauty="有时"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question7_mostdepressed"  value=3 data-labelauty="经常或持续"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														8. 您对自杀持什么态度?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question8_lastweek"  value=1 data-labelauty="排斥"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question8_lastweek"  value=2 data-labelauty="矛盾或无所谓"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question8_lastweek"  value=3 data-labelauty="接受"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="condition_required" name="question8_mostdepressed" value=1 data-labelauty="排斥"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question8_mostdepressed" value=2 data-labelauty="矛盾或无所谓"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question8_mostdepressed" value=3 data-labelauty="接受"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														9. 您觉得自己控制自杀想法、不把它变成行动的能力如何?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio" class="condition_required" name="question9_lastweek" value=1 data-labelauty="能控制"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question9_lastweek" value=2 data-labelauty="不知能否控制"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question9_lastweek" value=3 data-labelauty="不能控制"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question9_mostdepressed" value=1 data-labelauty="能控制"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question9_mostdepressed" value=2 data-labelauty="不知能否控制"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question9_mostdepressed" value=3 data-labelauty="不能控制"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														10. 如果出现自杀想法，某些顾虑（如顾及家人、死亡不可逆转等）在多大程度上能阻止您自杀?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question10_lastweek" value=1 data-labelauty="能阻止自杀"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question10_lastweek" value=2 data-labelauty="能减少自杀的危险"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question10_lastweek" value=3 data-labelauty="无顾虑或无影响"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"   class="condition_required" name="question10_mostdepressed" value=1 data-labelauty="能阻止自杀"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question10_mostdepressed" value=2 data-labelauty="能减少自杀的危险"/>
													</td>
													<td>
														<input type="radio"   class="condition_required" name="question10_mostdepressed" value=3 data-labelauty="无顾虑或无影响"/>
													</td>
												</tr>
												<tr >
													<th  colspan="6">
														11. 当您想自杀时，主要是为了什么?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question11_lastweek" value=1 data-labelauty="控制形势、寻求关注、报复"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question11_lastweek" value=2 data-labelauty="逃避、减轻痛苦、解决问题"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question11_lastweek" value=3 data-labelauty="前两种情况均有"/>
													</td>
													<td >
														<input type="radio"  class="condition_required" name="question11_lastweek" value=0 data-labelauty="近一周无自杀想法"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question11_mostdepressed" value=1 data-labelauty="控制形势、寻求关注、报复"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question11_mostdepressed" value=2 data-labelauty="逃避、减轻痛苦、解决问题"/>
													</td>
													<td>
														<input type="radio" class="condition_required" name="question11_mostdepressed" value=3 data-labelauty="前两种情况均有"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														12. 您想过结束自己生命的方法了吗?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_lastweek" value=1 data-labelauty="没想过"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_lastweek" value=2 data-labelauty="想过，但没制订出具体细节"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_lastweek" value=3 data-labelauty="制订出具体细节或计划得很周详"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_mostdepressed"  value=1 data-labelauty="没想过"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_mostdepressed"  value=2 data-labelauty="想过，但没制订出具体细节"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question12_mostdepressed"  value=3 data-labelauty="制订出具体细节或计划得很周详"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														13. 您把自杀想法落实的条件或机会如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_lastweek" value=1 data-labelauty="没有现成的方法、没有机会"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_lastweek" value=2 data-labelauty="需要时间或精力准备自杀工具"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_lastweek" value=3 data-labelauty="有现成的方法和机会或预计将来有方法和机会"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_lastweek" value=0 data-labelauty="近一周无自杀想法"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_mostdepressed" value=1 data-labelauty="没有现成的方法、没有机会">
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_mostdepressed" value=2 data-labelauty="需要时间或精力准备自杀工具"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question13_mostdepressed" value=3 data-labelauty="有现成的方法和机会或预计将来有方法和机会"/>
													</td>
												</tr>

												<tr>
													<th  colspan="6">
														14. 您相信自己有能力并且有勇气去自杀吗?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question14_lastweek" value=1 data-labelauty="没有勇气、太软弱、害怕、没有能力"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question14_lastweek" value=2 data-labelauty="不确信自己有无能力、勇气"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question14_lastweek" value=3 data-labelauty="确信自己有能力、有勇气"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question14_mostdepressed" value=1 data-labelauty="没有勇气、太软弱、害怕、没有能力"/>
													</td>
													<td>
														<input type="radio" class="condition_required" name="question14_mostdepressed" value=2 data-labelauty="不确信自己有无能力、勇气"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question14_mostdepressed" value=3 data-labelauty="确信自己有能力、有勇气"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														15. 您预计某一时间您确实会尝试自杀吗?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_lastweek" value=1 data-labelauty="不会"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_lastweek" value=2 data-labelauty="不确定"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_lastweek" value=3 data-labelauty="会"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_mostdepressed"  value=1 data-labelauty="不会" />
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_mostdepressed"  value=2 data-labelauty="不确定"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question15_mostdepressed"  value=3 data-labelauty="会"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														16. 为了自杀，您的准备行动完成得怎样?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_lastweek" value=1 data-labelauty="没有准备"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_lastweek" value=2 data-labelauty="部分完成（如，开始收集药片）"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_lastweek" value=3 data-labelauty="全部完成(如，有药片、刀片、有子弹的枪)"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_mostdepressed" value=1 data-labelauty="没有准备"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_mostdepressed" value=2 data-labelauty="部分完成（如，开始收集药片）"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question16_mostdepressed" value=3 data-labelauty="全部完成(如，有药片、刀片、有子弹的枪)"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														17. 您已着手写自杀遗言了吗?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question17_lastweek"  value=1 data-labelauty="没有考虑"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question17_lastweek"  value=2 data-labelauty="仅仅考虑、开始但未写完"/>
													</td>
													<td>
														<input type="radio" class="condition_required" name="question17_lastweek"  value=3 data-labelauty="写完"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="condition_required" name="question17_mostdepressed" value=1 data-labelauty="没有考虑"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question17_mostdepressed" value=2 data-labelauty="仅仅考虑、开始但未写完"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question17_mostdepressed" value=3 data-labelauty="写完"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														18. 您是否因为预计要结束自己的生命而抓紧处理一些事情？如买保险或准备遗嘱。
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_lastweek" value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_lastweek" value=2 data-labelauty="考虑过或做了一些安排"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_lastweek" value=3 data-labelauty="有肯定的计划或安排完毕"/>
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_mostdepressed" value=1 data-labelauty="没有"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_mostdepressed" value=2 data-labelauty="考虑过或做了一些安排"/>
													</td>
													<td>
														<input type="radio"  class="condition_required" name="question18_mostdepressed" value=3 data-labelauty="有肯定的计划或安排完毕"/>
													</td>
												</tr>

												<tr >
													<th  colspan="6">
														19. 您是否让人知道自己的自杀想法?
													</th>
												</tr>
												<tr >
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  class="form-control" name="question19_lastweek" value=1 data-labelauty="坦率主动说出想法" />
													</td>
													<td>
														<input type="radio"   class="form-control" name="question19_lastweek" value=2 data-labelauty="不主动说出"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question19_lastweek" value=3 data-labelauty="试图欺骗、隐瞒"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question19_lastweek" value=0 data-labelauty="近一周无自杀想法"/>
													</td>
												</tr>
												<tr >
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  class="form-control" name="question19_mostdepressed" value=1 data-labelauty="坦率主动说出想法"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question19_mostdepressed" value=2 data-labelauty="不主动说出"/>
													</td>
													<td>
														<input type="radio"   class="form-control" name="question19_mostdepressed" value=3 data-labelauty="试图欺骗、隐瞒"/>
													</td>
													<td>
													</td>
												</tr>
                                            </tbody>
                                        </table>
                                    </div>

								</div>
							</div>
							<!-- <div class="row">
								<div class="form-inline" style="float: right;margin-right: 10px;">
									<strong>总分：<input type="number" class="form-control" name="total_score" style="width:100px;"/>分</strong>
								</div>
							</div> -->
							<div class="row" style="margin-top:30px">
								<div class="text-center">
									{% csrf_token %}
									<!-- {{ form }} -->
									<input  type="submit" class="btn btn-success" value="保存并提交量表，继续下一个量表" id="bss_bt"/>
								</div>
							</div>
						</div>
					</form>
                  </div>
			    </div>
	        </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
     function myhide(){
         $("input[name='question6_lastweek'][value=1]").prop("checked",true);
         $("input[name='question6_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question7_lastweek'][value=1]").prop("checked",true);
         $("input[name='question7_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question8_lastweek'][value=1]").prop("checked",true);
         $("input[name='question8_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question9_lastweek'][value=1]").prop("checked",true);
         $("input[name='question9_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question10_lastweek'][value=1]").prop("checked",true);
         $("input[name='question10_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question11_lastweek'][value=1]").prop("checked",true);
         $("input[name='question11_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question12_lastweek'][value=1]").prop("checked",true);
         $("input[name='question12_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question13_lastweek'][value=1]").prop("checked",true);
         $("input[name='question13_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question14_lastweek'][value=1]").prop("checked",true);
         $("input[name='question14_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question15_lastweek'][value=1]").prop("checked",true);
         $("input[name='question15_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question16_lastweek'][value=1]").prop("checked",true);
         $("input[name='question16_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question17_lastweek'][value=1]").prop("checked",true);
         $("input[name='question17_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question18_lastweek'][value=1]").prop("checked",true);
         $("input[name='question18_mostdepressed'][value=1]").prop("checked",true);
         $("input[name='question19_lastweek'][value=1]").prop("checked",true);
         $("input[name='question19_mostdepressed'][value=1]").prop("checked",true);
     }
     function myshow(){
         $("input[name='question6_lastweek'][value=1]").prop("checked",false);
         $("input[name='question6_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question7_lastweek'][value=1]").prop("checked",false);
         $("input[name='question7_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question8_lastweek'][value=1]").prop("checked",false);
         $("input[name='question8_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question9_lastweek'][value=1]").prop("checked",false);
         $("input[name='question9_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question10_lastweek'][value=1]").prop("checked",false);
         $("input[name='question10_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question11_lastweek'][value=1]").prop("checked",false);
         $("input[name='question11_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question12_lastweek'][value=1]").prop("checked",false);
         $("input[name='question12_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question13_lastweek'][value=1]").prop("checked",false);
         $("input[name='question13_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question14_lastweek'][value=1]").prop("checked",false);
         $("input[name='question14_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question15_lastweek'][value=1]").prop("checked",false);
         $("input[name='question15_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question16_lastweek'][value=1]").prop("checked",false);
         $("input[name='question16_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question17_lastweek'][value=1]").prop("checked",false);
         $("input[name='question17_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question18_lastweek'][value=1]").prop("checked",false);
         $("input[name='question18_mostdepressed'][value=1]").prop("checked",false);
         $("input[name='question19_lastweek'][value=1]").prop("checked",false);
         $("input[name='question19_mostdepressed'][value=1]").prop("checked",false);
     }
	$(document).ready(function(){
	    $("#suicides_times_block").hide();
		$("input[type='radio']").labelauty();
		$(".suicide_no").on('click',function(event){
        var val=document.getElementById("suicides_times_content").getAttribute("value");
        val=0
		$("#suicides_times_block").hide();
        $("input[name='suicide_times']").prop("value","0");

	    });
		$(".suicide_yes").on('click',function(event){
		    $("input[name='suicide_times']").prop("value","");
			$("#suicides_times_block").show();
		});


        
       /*若4和5题都选择选项1，则其他下面的题目直接隐藏 开始*/
	   $(".suicides_next_question").hide();
       var question4_lastweek;
       $("input:radio[name='question4_lastweek']").click(function(){
           question4_lastweek = $(this).val();
		   if(Number(question4_lastweek>=2)) {
               myshow();
               $(".suicides_next_question").show();
           }
		   var num = Number(question4_lastweek)+Number(question5_lastweek)+Number(question4_lastweek_mostdepressed)+Number(question5_lastweek_mostdepressed);
		   if(num<=4) {
		       $(".suicides_next_question").hide();
               myhide();
           }
        });
       var question5_lastweek;
       $("input:radio[name='question5_lastweek']").click(function(){
           question5_lastweek = $(this).val();
		   if(Number(question5_lastweek>=2)) {
               myshow();
               $(".suicides_next_question").show();
           }
		   var num = Number(question4_lastweek)+Number(question5_lastweek)+Number(question4_lastweek_mostdepressed)+Number(question5_lastweek_mostdepressed);
		   if(num<=4) {
               $(".suicides_next_question").hide();
               myhide();
           }
       });

       var question4_lastweek_mostdepressed;
       $("input:radio[name='question4_mostdepressed']").click(function(){
           question4_lastweek_mostdepressed = $(this).val();
		   if(Number(question4_lastweek_mostdepressed>=2)) {
               myshow();
               $(".suicides_next_question").show();
           }
		   var num = Number(question4_lastweek)+Number(question5_lastweek)+Number(question4_lastweek_mostdepressed)+Number(question5_lastweek_mostdepressed);
		   if(num<=4) {
               $(".suicides_next_question").hide();
               myhide();
           }
        });
       var question5_lastweek_mostdepressed;
       $("input:radio[name='question5_mostdepressed']").click(function(){
           question5_lastweek_mostdepressed = $(this).val();
           if(Number(question5_lastweek_mostdepressed>=2)) {
               myshow();
               $(".suicides_next_question").show();
           }
           var num = Number(question4_lastweek)+Number(question5_lastweek)+Number(question4_lastweek_mostdepressed)+Number(question5_lastweek_mostdepressed);
		   if(num<=4) {
               $(".suicides_next_question").hide();
               myhide();
           }

       });

       /*若4和5题都选择选项1，则其他下面的题目直接隐藏 开始*/


       /*var question4_lastweek_1=$('input:radio[name="question4_lastweek"]:checked').val();
       console.log(question4_lastweek_1)
       var suicide_question_4_2_0 = $('.suicide_question_4_2_0').attr('value');
       var suicide_question_5_1_0 = $('.suicide_question_5_1_0').attr('value');
       var suicide_question_5_2_0 = $('.suicide_question_5_2_0').attr('value');
       console.log(suicide_question_4_1_0);
       if (suicide_question_4_1_0+suicide_question_4_2_0+suicide_question_5_1_0+suicide_question_5_2_0<=4){
           alert("yes");

       }*/
	});





</script>
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
<script type="text/javascript">
    function disableObj(object) {
        var obj = document.getElementsByName(object);
        for(var i = 0; i < obj.length; i++) {
            obj[i].disabled = true;
        }
    }
      function myCheck(bssform)
      {
          if (document.bssform.suicide_history.value=="") {
              alert("请回答您是否有过自杀行为史！");
              return false;
          }
          if (document.bssform.suicide_times.value=="") {
              alert("自杀次数不能为空！");
              return false;
          }
          if (document.bssform.question1_lastweek.value=="") {
              alert("问题一不能为空！");
              return false;
          }
          if (document.bssform.question1_mostdepressed.value=="") {
              alert("问题一不能为空！");
              return false;
          }
          if (document.bssform.question2_lastweek.value=="") {
              alert("问题二不能为空！");
              return false;
          }
          if (document.bssform.question2_mostdepressed.value=="") {
              alert("问题二不能为空！");
              return false;
          }
          if (document.bssform.question3_lastweek.value=="") {
              alert("问题三不能为空！");
              return false;
          }
          if (document.bssform.question3_mostdepressed.value=="") {
              alert("问题三不能为空！");
              return false;
          }
          if (document.bssform.question4_lastweek.value=="") {
              alert("问题四不能为空！");
              return false;
          }
          if (document.bssform.question4_mostdepressed.value=="") {
              alert("问题四不能为空！");
              return false;
          }
          if (document.bssform.question5_lastweek.value=="") {
              alert("问题五不能为空！");
              return false;
          }
          if (document.bssform.question5_mostdepressed.value=="") {
              alert("问题五不能为空！");
              return false;
          }
          if (document.bssform.question6_lastweek.value=="") {
              alert("问题六不能为空！");
              return false;
          }
          if (document.bssform.question6_mostdepressed.value=="") {
              alert("问题六不能为空！");
              return false;
          }
          if (document.bssform.question7_lastweek.value=="") {
              alert("问题七不能为空！");
              return false;
          }
          if (document.bssform.question7_mostdepressed.value=="") {
              alert("问题七不能为空！");
              return false;
          }
          if (document.bssform.question8_lastweek.value=="") {
              alert("问题八不能为空！");
              return false;
          }
          if (document.bssform.question8_mostdepressed.value=="") {
              alert("问题八不能为空！");
              return false;
          }
          if (document.bssform.question9_lastweek.value=="") {
              alert("问题九不能为空！");
              return false;
          }
          if (document.bssform.question9_mostdepressed.value=="") {
              alert("问题九不能为空！");
              return false;
          }
          if (document.bssform.question10_lastweek.value=="") {
              alert("问题十不能为空！");
              return false;
          }
          if (document.bssform.question10_mostdepressed.value=="") {
              alert("问题十不能为空！");
              return false;
          }
          if (document.bssform.question11_lastweek.value=="") {
              alert("问题十一不能为空！");
              return false;
          }
          if (document.bssform.question11_mostdepressed.value=="") {
              alert("问题十一不能为空！");
              return false;
          }
          if (document.bssform.question12_lastweek.value=="") {
              alert("问题十二不能为空！");
              return false;
          }
          if (document.bssform.question12_mostdepressed.value=="") {
              alert("问题十二不能为空！");
              return false;
          }
          if (document.bssform.question13_lastweek.value=="") {
              alert("问题十三不能为空！");
              return false;
          }
          if (document.bssform.question13_mostdepressed.value=="") {
              alert("问题十三不能为空！");
              return false;
          }
          if (document.bssform.question14_lastweek.value=="") {
              alert("问题十四不能为空！");
              return false;
          }
          if (document.bssform.question14_mostdepressed.value=="") {
              alert("问题十四不能为空！");
              return false;
          }
          if (document.bssform.question15_lastweek.value=="") {
              alert("问题十五不能为空！");
              return false;
          }
          if (document.bssform.question15_mostdepressed.value=="") {
              alert("问题十五不能为空！");
              return false;
          }
          if (document.bssform.question16_lastweek.value=="") {
              alert("问题十六不能为空！");
              return false;
          }
          if (document.bssform.question16_mostdepressed.value=="") {
              alert("问题十六不能为空！");
              return false;
          }
          if (document.bssform.question17_lastweek.value=="") {
              alert("问题十七不能为空！");
              return false;
          }
          if (document.bssform.question17_mostdepressed.value=="") {
              alert("问题十七不能为空！");
              return false;
          }
          if (document.bssform.question18_lastweek.value=="") {
              alert("问题十八不能为空！");
              return false;
          }
          if (document.bssform.question18_mostdepressed.value=="") {
              alert("问题十八不能为空！");
              return false;
          }
          if (document.bssform.question19_lastweek.value=="") {
              alert("问题十九不能为空！");
              return false;
          }
          if (document.bssform.question19_mostdepressed.value=="") {
              alert("问题十九不能为空！");
              return false;
          }

          var num1 = $("input[name='question4_lastweek']:checked").val();
          var num2 = $("input[name='question5_lastweek']:checked").val();
          var num3 = $("input[name='question4_mostdepressed']:checked").val();
          var num4 = $("input[name='question5_mostdepressed']:checked").val();
          var num = Number(num1)+Number(num2)+Number(num3)+Number(num4);
           if(num<=4) {
		       disableObj("question6_lastweek");
		       disableObj("question7_lastweek");
		       disableObj("question8_lastweek");
		       disableObj("question9_lastweek");
		       disableObj("question10_lastweek");
		       disableObj("question11_lastweek");
		       disableObj("question12_lastweek");
		       disableObj("question13_lastweek");
		       disableObj("question14_lastweek");
		       disableObj("question15_lastweek");
		       disableObj("question16_lastweek");
		       disableObj("question17_lastweek");
		       disableObj("question18_lastweek");
		       disableObj("question19_lastweek");
		       disableObj("question6_mostdepressed");
		       disableObj("question7_mostdepressed");
		       disableObj("question8_mostdepressed");
		       disableObj("question9_mostdepressed");
		       disableObj("question10_mostdepressed");
		       disableObj("question11_mostdepressed");
		       disableObj("question12_mostdepressed");
		       disableObj("question13_mostdepressed");
		       disableObj("question14_mostdepressed");
		       disableObj("question15_mostdepressed");
		       disableObj("question16_mostdepressed");
		       disableObj("question17_mostdepressed");
		       disableObj("question18_mostdepressed");
		       disableObj("question19_mostdepressed");
           }
          alert("提交成功！");
          return true;
      }
    </script>

{% endblock %}