{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}自动思维问卷{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main" >
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li >量表录入</li>
                         <li>自评量表</li>
						 <li class="active">自动思维问卷</li>
						 <div style="float: right;margin-bottom: 0;"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
			<div class="row"  style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
				<div align="center" style="padding-left: 18%; padding-right: 20%">
					<h5>
						<strong>
							<i class="fa fa-hand-o-down"></i>&nbsp;
							<i class="fa fa-hand-o-down"></i>&nbsp;
							<i class="fa fa-hand-o-down"></i>&nbsp;
							指导语：下列是一些可能涌入人们头脑中的想法，请逐条阅读，说明你在最近一周内是否出现过这类想法，其频度如何。
						</strong>
					</h5>
				</div>
			</div>
            <div class="question_area" name="question_area" style="text-align: center">
                <form id="question_form" name="question_form" action="#">
					{% csrf_token %}
                    <h3><div name="question_test" id="question_test" class="row">1.被人误会或错怪</div></h3>
                    <div id="options" class="options" style=" text-align: left;padding-left: 47.5%">
                        <div class="row show-grid" style="margin:10px">
                            <label>
                                <input type="radio" name="answer" value=1 data-labelauty="无" />
                            </label>
                        </div>
						<div class="row show-grid" style="margin:10px">
							<label>
                                <input type="radio" name="answer" value=2 data-labelauty="偶尔出现"/>
							</label>
						</div>
                        <div class="row show-grid" style="margin:10px">
							<label>
                                <input type="radio" name="answer" value=3 data-labelauty="有时出现" />
							</label>
						</div>
						<div class="row show-grid" style="margin:10px">
							<label>
                                <input type="radio" name="answer" value=4 data-labelauty="经常出现"/>
							</label>
						</div>
                        <div class="row show-grid" style="margin:10px">
							<label>
                                <input type="radio" name="answer" value=5 data-labelauty="持续存在"/>
							</label>
						</div>
                    </div>
                    <div>
                        <input id="question_submit" type="button" class="btn btn-success text-center" style="width:68px;height:34px" value="下一题">
                        <input type="button" class="btn btn-warning text-center" style="width:68px;height:34px" value="退&nbsp;&nbsp;出">
                    </div>
                </form>
            </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
	let time = new Date();
	let suicide = false;
    let question_index = 1;
	$(document).ready(function(){
		$("input[type='radio']").labelauty();

		$("#question_submit").on('click', function(){
			if (document.question_form.answer.value==="") {
                alert("问题不能为空！");
            }else{
			    if(question_index <= 30 ){
			        ajax_post($('#question_form'));
                    update_question(question_index);
                    question_index ++;
                }else {
			        alert("请不要重复提交");
                }
			}
		});
	});

	function get_duration(){
		const current_time = new Date();
		const duration = time - current_time;
		time = current_time;
		return -duration;
	}

	function update_question(index){
	    switch (index) {
            case 1:
                document.getElementById('question_test').innerHTML="2.我不好。";break;
            case 2:
                document.getElementById('question_test').innerHTML="3.为什么我总不能成功？";break;
            case 3:
                document.getElementById('question_test').innerHTML="4.没有人理解我。";break;
            case 4:
                document.getElementById('question_test').innerHTML="5.我让人失望。";break;
            case 5:
                document.getElementById('question_test').innerHTML="6.我觉得过不下去了。";break;
            case 6:
                document.getElementById('question_test').innerHTML="7.真希望我能好一点。";break;
            case 7:
                document.getElementById('question_test').innerHTML="8.我很虚弱。";break;
            case 8:
                document.getElementById('question_test').innerHTML="9.我的生活不按我的愿望发展。";break;
            case 9:
                document.getElementById('question_test').innerHTML="10.我对自己很不满意。";break;
            case 10:
                document.getElementById('question_test').innerHTML="11.我觉得一切都不好了。";break;
            case 11:
                document.getElementById('question_test').innerHTML="12.我无法坚持下去。";break;
            case 12:
                document.getElementById('question_test').innerHTML="13.我无法重新开始。";break;
            case 13:
                document.getElementById('question_test').innerHTML="14.我究竟犯了什么毛病？";break;
            case 14:
                document.getElementById('question_test').innerHTML="15.真希望我是在另外一个地方。";break;
            case 15:
                document.getElementById('question_test').innerHTML="16.我无法同时对付这些事情。";break;
            case 16:
                document.getElementById('question_test').innerHTML="17.我恨我自己";break;
            case 17:
                document.getElementById('question_test').innerHTML="18.我毫无价值。";break;
            case 18:
                document.getElementById('question_test').innerHTML="19.真希望我一下子就消失了。";break;
            case 19:
                document.getElementById('question_test').innerHTML="20.我这是怎么了？";break;
            case 20:
                document.getElementById('question_test').innerHTML="21.我是个失败者。";break;
            case 21:
                document.getElementById('question_test').innerHTML="22.我的生活一团糟。";break;
            case 22:
                document.getElementById('question_test').innerHTML="23.我一事无成。";break;
            case 23:
                document.getElementById('question_test').innerHTML="24.我不可能干好。";break;
            case 24:
                document.getElementById('question_test').innerHTML="25.我觉得孤立无援。";break;
            case 25:
                document.getElementById('question_test').innerHTML="26.有些东西必须改变。";break;
            case 26:
                document.getElementById('question_test').innerHTML="27.我肯定有问题。";break;
            case 27:
                document.getElementById('question_test').innerHTML="28.我的将来毫无希望。";break;
            case 28:
                document.getElementById('question_test').innerHTML="29.这根本毫无价值。";break;
            case 29:
                document.getElementById('question_test').innerHTML="30.我干什么事都有头无尾。";break;
        }
    }

	function ajax_post(form){
		const csrf = $('input[name="csrfmiddlewaretoken"]').val();
		$.ajax({
		url: 'http://127.0.0.1:8000/scales/test_submit',
		type: 'POST',
		dataType: 'JSON',
		async:true,
		data: {'data':form.serialize(),
            'question_index': question_index,
			'duration':get_duration(),
			'csrfmiddlewaretoken': csrf
			}
		})
	}

</script>

{% endblock %}