<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <title></title>
</head>
<body>
    <form class="" action="/inpatients/upload_medical_advice" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" name="medical_advice">
        <input type="submit" value="上传">
    </form>
    <form enctype="multipart/form-data">
        <p>上传出院记录<input type="file" id="out_record" name="out_record"/></p>
    </form>
        <button id="import">导入</button>
    <script type="application/javascript">
        $("#import").click(function () {
            var formData = new FormData();
            formData.append('inpatient_id',5);
            formData.append('out_record',document.getElementById("out_record").files[0])
            formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
            $.ajax({
                type: 'POST',
                url: "/inpatients/upload_out_record",
                data:formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType:'json',
                success: function (data) {
                    alert(data['message']);
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        });
    </script>