{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}失眠严重指数量表{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button"
                        onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'"
                        class="btn btn-danger" style="width:68px;height:34px">退出
                </button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表录入</li>
                    <li>自评量表</li>
                    <li class="active">贝克自杀意念及强度量表</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 22.5%; padding-right: 22.5%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：下述项目是一些有关您对生命和死亡想法的问题。每个问题既问最近一周您是如何感觉的，又问既往您最消沉、最代或自杀倾向最严重的时候是如何感觉的。每个问题的答案各有不同，请您注意听清提问和备选答案，然后根据您的情况选择最适合的答案。
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% csrf_token %}

        <div class="bss_1_1" style="text-align: center;display: none">
            <form id="bss_1_1" name="bss_1_1" action="#">

                <div class="row"><h3>1. 您希望活下去的程度如何?</h3></div>
                <div class="row"><h4>（最近一周）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_lastweek" value=1
                                   data-labelauty="&nbsp;&nbsp;&nbsp;中等到强烈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_lastweek" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_lastweek" value=3 data-labelauty="没有活着的欲望"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_1_1_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
        <div class="bss_1_2" style="text-align: center;display: none">
            <form id="bss_1_2" name="bss_1_2" action="#">
                <div class="row"><h3>1. 您希望活下去的程度如何?</h3></div>
                <div class="row"><h4>（最消沉、最忧郁的时候）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_mostdepressed" value=1
                                   data-labelauty="&nbsp;&nbsp;&nbsp;中等到强烈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_mostdepressed" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question1_mostdepressed" value=3 data-labelauty="没有活着的欲望"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_1_2_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
        <div class="bss_2_1" style="text-align: center;display: none">
            <form id="bss_2_1" name="bss_2_1" action="#">
                <div class="row"><h3>2. 您希望死去的程度如何?</h3></div>
                <div class="row"><h4>（最近一周）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_lastweek" value=1 data-labelauty="没有死去的欲望"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_lastweek" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_lastweek" value=3
                                   data-labelauty="&nbsp;&nbsp;&nbsp;中等到强烈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_2_1_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
        <div class="bss_2_2" style="text-align: center;display: none">
            <form id="bss_2_2" name="bss_2_2" action="#">
                <div class="row"><h3>2. 您希望死去的程度如何?</h3></div>
                <div class="row"><h4>（最消沉、最忧郁的时候）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_mostdepressed" value=1 data-labelauty="没有死去的欲望"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_mostdepressed" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question2_mostdepressed" value=3
                                   data-labelauty="&nbsp;&nbsp;&nbsp;中等到强烈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_2_2_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
        <div class="bss_3_1" style="text-align: center;display: none">
            <form id="bss_3_1" name="bss_3_1" action="#">
                <div class="row"><h3>3. 您要活下去的理由胜过您要死去的理由吗?</h3></div>
                <div class="row"><h4>（最近一周）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_lastweek" value=1 data-labelauty="要活下去胜过要死去"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_lastweek" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二者相当&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_lastweek" value=3 data-labelauty="要死去胜过要活下来"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_3_1_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
        <div class="bss_3_2" style="text-align: center;display: none">
            <form id="bss_3_2" name="bss_3_2" action="#">
                <div class="row"><h3>3. 您要活下去的理由胜过您要死去的理由吗?</h3></div>
                <div class="row"><h4>（最消沉、最忧郁的时候）</h4></div>
                <div class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_mostdepressed" value=1 data-labelauty="要活下去胜过要死去"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_mostdepressed" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二者相当&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" name="question3_mostdepressed" value=3 data-labelauty="要死去胜过要活下来"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="bss_3_2_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let suicide = {{ suicide }};
    let end_flag = 0;
    let question_index = 1 + {{ question_index }};

    $(document).ready(function () {
        $("input[type='radio']").labelauty();
        // $("div[class='bss_0_1']").show();
        if(question_index > 38){
            $("div[class='bss_0_1']").show();
        }else{
            const class_name = 'bss_' + (Math.floor((question_index + 1) / 2) - 1) + '_' + (((question_index - 1) % 2) + 1);
            // alert(((question_index - 1) % 2) + 1);
            $(this.getElementsByClassName(class_name)).show();
        }
        $("#bss_0_1_submit").on('click', function () {
            if (document.bss_0_1.suicide_history.value === "") {
                alert("问题不能为空！");
            } else if (document.bss_0_1.suicide_history.value === "0") {
                ajax_post($('#bss_0_1'))
                $("div[class='bss_0_1']").hide();
                $("div[class='bss_1_1']").show();
                question_index++;
            } else {
                ajax_post($('#bss_0_1'))
                $("div[class='bss_0_1']").hide();
                $("div[class='bss_0_2']").show();
            }
        });

        $("#bss_0_2_submit").on('click', function () {
            if (document.bss_0_2.suicide_times.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_0_2'))
                $("div[class='bss_0_2']").hide();
                $("div[class='bss_1_1']").show();
            }
        });

        $("#bss_1_1_submit").on('click', function () {
            if (document.bss_1_1.question1_lastweek.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_1_1'))
                $("div[class='bss_1_1']").hide();
                $("div[class='bss_1_2']").show();
            }
        });

        $("#bss_1_2_submit").on('click', function () {
            if (document.bss_1_2.question1_mostdepressed.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_1_2'))
                $("div[class='bss_1_2']").hide();
                $("div[class='bss_2_1']").show();
            }
        });

        $("#bss_2_1_submit").on('click', function () {
            if (document.bss_2_1.question2_lastweek.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_2_1'))
                $("div[class='bss_2_1']").hide();
                $("div[class='bss_2_2']").show();
            }
        });

        $("#bss_2_2_submit").on('click', function () {
            if (document.bss_2_2.question2_mostdepressed.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_2_2'))
                $("div[class='bss_2_2']").hide();
                $("div[class='bss_3_1']").show();
            }
        });

        $("#bss_3_1_submit").on('click', function () {
            if (document.bss_3_1.question3_lastweek.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_3_1'))
                $("div[class='bss_3_1']").hide();
                $("div[class='bss_3_2']").show();
            }
        });

        $("#bss_3_2_submit").on('click', function () {
            if (document.bss_3_2.question3_mostdepressed.value === "") {
                alert("问题不能为空！");
            } else {
                ajax_post($('#bss_3_2'))
                $("div[class='bss_3_2']").hide();
                $("div[class='bss_4_1']").show();
            }
        });







        $("#bss_19_2_submit").on('click', function () {
            if (document.bss_19_2.question19_mostdepressed.value === "") {
                alert("问题不能为空！");
            } else {
                end_flag = 1;
                ajax_post($('#bss_19_2'))
                //跳转
                location = "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}";
            }
        });
    });

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }

    function ajax_post(form) {
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: 'http://' + location.host +
                '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            async: true,
            data: {
                'data': form.serialize(),
                'duration': get_duration(),
                'flag': end_flag,
                'test_name': "bss",
                'question_index': question_index,
                'csrfmiddlewaretoken': csrf
            }
        });
        question_index++;
    }

</script>

{% endblock %}