{% extends 'templates/index.html' %}
{% load static %}
{% block title %}杨氏躁狂量表（YMRS）{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main" >
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >他评量表</a></li>
						 <li class="active"><a href="#" >杨氏躁狂量表（YMRS）</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>汉密尔顿抑郁量表（HAMD-17）</p>
                    </li>
                    <li class="step2 done">
                      <p>汉密尔顿焦虑量表（HAMA）</p>
                    </li>
                    <li class="step3 doing">
                      <p>杨氏躁狂量表（YMRS）</p>
                    </li>
                    <li class="step4 none">
                      <p>简明精神量表（BPRS）</p>
                    </li>
                    <li class="finish none">
                      <p>完成</p>
                    </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                    <div id="fourth">
                      <form action="">
                        <div class="container">
                            <div class="row" style="margin: 5px;">
                                <strong>圈出最适合病人情况的分数</strong>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                            <thead>
                          <tr>
                                        <th >

                            </th>
                            <th >
                                            未测
                            </th>
                                        <th >
                                            无
                            </th>
                                        <th >
                                            很轻
                            </th>
                                        <th >
                                            轻度
                            </th>
                                        <th >
                                            中度
                            </th>
                                        <th >
                                            偏重
                            </th>
                                        <th >
                                            重度
                            </th>
                                        <th >
                                            极重
                            </th>
                          </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                 1.关心身体健康
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="health_care" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                              <tr>
                                <td>
                                 2.焦虑
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="anxious" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 3.感情交流障碍
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value= 0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="emocommunicat_barrier" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 4.概念紊乱
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="conceptual_disorder" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 5.罪恶观念
                                </td>
                                <td>
                                  <input type="radio"  name="guilt_concept" value= 0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="guilt_concept" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 6.紧张
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value= 0  data-labelauty="0"/>
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="nervous" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 7.装相和作态
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="look_act" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                              <tr>
                                <td>
                                 8.夸大
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value= 0  data-labelauty="0"/>
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="exaggerate" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 9.心境抑郁
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value=0  data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="mood_depression" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 10.敌对性
                                </td>
								<td>
                                  <input type="radio" name="hostility" value = 0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hostility" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 11.猜疑
                                </td>
                                <td>
                                  <input type="radio"  name="suspicion" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="suspicion" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 12.幻觉
                                </td>
                                <td>
                                  <input type="radio"  name="hallucination" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="hallucination" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 13.动作迟缓
                                </td>
                                <td>
                                  <input type="radio"  name="slow_movement" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="slow_movement" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 14.不合作
                                </td>
                                <td>
                                  <input type="radio"  name="no_cooperation" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="no_cooperation" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 15.不寻常思维内容
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value=0 data-labelauty="0" />
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="unusual_thinking" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 16.情感平淡
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="feeling_flat" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 17.兴奋
                                </td>
                                <td>
                                  <input type="radio"  name="excitement" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="excitement" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                                        <tr>
                                <td>
                                 18.定向障碍
                                </td>
                                <td>
                                  <input type="radio"  name="directional_disorder" value=0 data-labelauty="0"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 1 data-labelauty="1"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 2 data-labelauty="2"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 3 data-labelauty="3"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 4 data-labelauty="4"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 5 data-labelauty="5"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 6 data-labelauty="6"/> 
                                </td>
                                <td>
                                  <input type="radio" name="directional_disorder" value = 7 data-labelauty="7"/> 
                                </td>
                              </tr>
                              </tbody>
                             </table>
                             </div>
                            </div>
                            <div class="row">
                               <div class="form-inline" style="float: right;margin-right: 10px;">
                                  <strong>总分：<input type="number" class="form-control" name="total_score" style="width:100px;"/>分</strong>
                               </div>
                            </div>
                            <div class="row">
                               <div class="text-center">
                                   <input  type="submit" class="btn btn-success" value="提交"/>
                                <button class="btn btn-danger">取消</button>
                               </div>
                            </div>
                        </div>
                      </form>
                    </div>
			    </div>
	          </div>
        </div>
    </div>
{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
{% endblock %}