{% extends 'templates/index.html'%}
{% load static %}
{% block title %}重复成套性神经心理状态测验系统{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
		<div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >认知分数录入</a></li>
						 <li class="active"><a href="#" >重复成套性神经心理状态测验系统（rbans）</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="dashboard_graph x_panel">
        	<div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>维斯康星卡片分类测验（wcst）</p>
                    </li>
                    <li class="step2 doing ">
                      <p>重复成套性神经心理状态测验系统（rbans）</p>
                    </li>
                    <li class="step3 nodone">
                      <p>面孔情绪感知能力测试（fept）</p>
                    </li>
                    <li class="step4 nodone ">
                      <p>语音情绪感知能力测试（vept）</p>
					</li>
					<li class="finish nodone ">
                      <p>完成</p>
					</li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
					<form action="">
                        <div class="container">
	                        <div class="row clearfix">
		                        <div class="col-md-12 column">
			                        <table class="table table-hover table-bordered">
				                        <thead>
					                    <tr>
						                    <th>
							                    认知功能
						                    </th>
						                    <th>
							                    测查内容
						                    </th>
						                    <th>
							                    原始分
						                    </th>
                                            <th>
							                    量表分
						                    </th>
					                    </tr>
				                        </thead>
				                        <tbody>
					                        <tr>
						                        <td rowspan="2">
							                       即刻记忆
						                        </td>
						                        <td>
							                        词汇学习
						                        </td>
						                        <td>
							                       <input type="number" name="instant_memory_word" class="form-control"/>
						                        </td>
                                                <td rowspan="2">
							                       <input type="number" name="instant_memory_total" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                       故事复述
						                        </td>
						                        <td>
							                        <input type="number" name="instant_memory_story" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td rowspan="2">
							                       视觉广度
						                        </td>
						                        <td>
							                        图形临摹
						                        </td>
						                        <td>
							                        <input type="number" name="vision_graph" class="form-control"/>
						                        </td>
                                                <td rowspan="2">
							                        <input type="number" name="vision_total" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                        线条定位
						                        </td>
						                        <td>
							                        <input type="number" name="vision_line" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td rowspan="2">
							                       言语功能
						                        </td>
						                        <td>
							                       图画命名
						                        </td>
						                        <td>
							                        <input type="number" name="speech_graph" class="form-control"/>
						                        </td>
                                                <td rowspan="2">
							                        <input type="number" name="speech_total" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                        语义流畅性
						                        </td>
						                        <td>
							                        <input type="number" name="speech_ fluency" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td rowspan="2">
							                       注意
						                        </td>
						                        <td>
							                        数字广度
						                        </td>
						                        <td>
							                        <input type="number" name="attention_number" class="form-control"/>
						                        </td>
                                                <td rowspan="2">
							                        <input type="number" name="attention_total" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                        编码测验
						                        </td>
						                        <td>
							                       <input type="number" name="attention_code" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td rowspan="4">
							                       延时记忆
						                        </td>
						                        <td>
							                        词汇回忆
						                        </td>
						                        <td>
							                        <input type="number" name="delayed_retention_word" class="form-control"/>
						                        </td>
                                                <td rowspan="4">
							                        <input type="number" name="delayed_retention_total" class="form-control"/>
						                        </td>
					                        </tr>

                                            <tr>
						                        <td>
							                        词汇再识
						                        </td>
						                        <td>
							                        <input type="number" name="delayed_retention_word2" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                        故事回忆
						                        </td>
						                        <td>
							                        <input type="number" name="delayed_retention_story" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
						                        <td>
							                        图形回忆
						                        </td>
						                        <td>
							                        <input type="number" name="delayed_retention_graph" class="form-control"/>
						                        </td>
					                        </tr>
                                            <tr>
                                                <td>
                                                    总分
                                                </td>
						                        <td colspan="3">
							                        <input type="number" name="total_score" class="form-control"/>
						                        </td>
					                        </tr>
				                        </tbody>
                                    </table>
		                        </div>
	                        </div>
                            <div class="row">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-success" value="提交"/>
                                    <button class="btn btn-danger">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
				</div>
			</div>
		  </div>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
{% endblock %}