{% extends 'templates/index.html'%}
{% load static %}
{% block title %}学习情况{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
     <div class="right_col" role="main">
        <div class="container">
        <div class="row show-grid">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                   <li ><a href="#">量表录入</a></li>
                   <li><a href="#" >个人详细信息录入</a></li>
                   <li class="active"><a href="#" >家庭信息</a></li>
              </ul>
          </div>
        </div>
        </div> 
        <div class="dashboard_graph x_panel">
          <div id="wrapper">
            <div id = "left-side" style="height: 100%;" class="col-md-2">
              <ul class="scales_progress">
                <li class="step1 doing">
                  <p>家庭信息</p>
                </li>
                <li class="step2 nodone ">
                  <p>学习情况</p>
                </li>
                <li class="step3 nodone">
                  <p>家庭及疾病史</p>
                </li>
                <li class="step4 nodone ">
                  <p>物质依赖</p>
                </li>
                <li class="step5 nodone ">
                  <p>其他资料</p>
                </li>
                <li class="finish nodone ">
                  <p>利手信息</p>
                </li>
              </ul>
            </div>   
            <div id="right-side" class="col-md-10">
              <div id="first" class="active">
                  <form action="" method="post">
                                <div class="x_content">
                    <br>
<!--                    最后一次大考-->
                    <div class="form-group row">
                      <label class="control-label col-md-4 col-sm-6 col-md-offset-3">最近一次大考（期中或期末）中，您在班级的排名大约为<span class="required">*</span></label>
                      <div class="col-md-2 col-sm-3">
                          <select class="form-control" name="patient_current_achievement" id="patient_current_achievement">
                            <option value="1">前10%=1</option>
                            <option value="2">11-25%=2</option>
                            <option value="3">26-50%=3</option>
                            <option value="4">51-75%=4</option>
                            <option value="5">后24%=5</option>
                            <option value="6">学校不公布排名=6</option>
                          </select>
                      </div>
                    </div>
                    <br>
<!--本学期相比于上个学期，学习成绩变动情况-->
                    <div class="form-group row">
                      <label class="control-label col-md-3 col-sm-5 col-md-offset-4">本学期相比于上个学期，学习成绩变动情况<span class="required">*：</span></label>
                      <div class="col-md-1 col-sm-3">
                          <select class="form-control" name="patient_last_semester_achievement_difference" id="patient_last_semester_achievement_difference">
                            <option value="1">进步=1</option>
                            <option value="2">退步=2</option>
                            <option value="3">稳定=3</option>
                          </select>
                      </div>
                    </div>
                    <br>
<!--                    有情绪方面的症状前后，学习成绩变动情况-->
                    <div class="form-group row" >
                      <label class="control-label col-md-3 col-sm-5 col-md-offset-4">有情绪方面的症状前后，学习成绩变动情况<span class="required">*：</span></label>
                      <div class="col-md-1 col-sm-3">
                          <select class="form-control" name="patient_mood_symptom_achievement_difference" id="patient_mood_symptom_achievement_difference">
                            <option value="1">进步=1</option>
                            <option value="2">退步=2</option>
                            <option value="3">稳定=3</option>
                          </select>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label class="control-label col-md-3 col-sm-4 col-md-offset-2">是否担任过班级或学校的学生干部<span class="required">*:</span></label>
                      <div class="col-md-1 col-sm-1 " id="patient_leader_1">
                        <input type="radio" class="flat " name="patient_leader" value=1 data-labelauty="是"/>
                      </div>
                      <div class="col-md-1 col-sm-1 " id="patient_leader_2">
                        <input type="radio" class="flat " name="patient_leader" value=0 data-labelauty="否"/>
                      </div>
                      <label class="control-label col-md-1 col-sm-2 " >担任职务<span class="required">*:</span></label>
                      <div class="col-md-2 col-sm-2 form-group" >
                        <input type="text" id="patient_leader_occupation" name="patient_leader_occupation" class="form-control" disabled="disabled">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-3 col-md-offset-3 col-sm-offset-1">是否在学校寄宿<span class="required">*:</span></label>
                      <div class="col-md-1 col-sm-1 " id="patient_live_school_1">
                        <input type="radio" class="flat " name="patient_live_school" value=1 data-labelauty="是"/>
                      </div>
                      <div class="col-md-1 col-sm-1 " id="patient_live_school_2">
                        <input type="radio" class="flat " name="patient_live_school" value=0 data-labelauty="否" />
                      </div>
                      <label class="control-label col-md-1 col-sm-2 ">每月回家次数<span class="required">*:</span></label>
                      <div class="col-md-2 col-sm-2 form-group ">
                        <input type="text" id="patient_home_frequency" name="patient_home_frequency" class="form-control" disabled="disabled">
                      </div>
                    </div>
                    <br>
                  </div>
                             <div class="row">
                        {% csrf_token %}
                        <div class="text-center">
                            <input  type="submit" class="btn btn-success" value="提交"/>
                        </div>
                          </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
       </div>
    


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

<script>
$(document).ready(function(){
	$("input[type='radio']").labelauty();
});
</script>
{% endblock %}
