{% extends 'templates/index.html' %}
{% load static %}
{% block title %}33项轻躁狂症状清单hcl-33{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main" >
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >他评量表</a></li>
						 <li class="active"><a href="#" >33项轻躁狂症状清单hcl-33</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>耶鲁布朗强迫症严重程度标准量表（ybocs）</p>
                    </li>
                    <li class="step2 done ">
                      <p>自杀意念及行为史（bss）</p>
                    </li>
                    <li class="step3 doing ">
                      <p>33项轻躁狂症状清单(hcl-33)</p>
                    </li>
                    <li class="step4 nodone notclick ">
                      <p>斯奈斯和汉密尔顿快乐量表(shaps)</p>
					</li>
					<li class="step5 nodone notclick">
						<p>快感体验能力量表teps</p>
					</li>
					<li class="step6 nodone notclick">
						<p>斯奈斯和汉密尔顿快乐量表(shaps)</p>
					</li>
					<li class="step7 nodone notclick">
						<p>儿童期（16岁以前）的成长经历ctq-sf</p>
					</li>
					<li class="step8 nodone notclick">
						<p>认知情绪调节量表cerq-c</p>
					</li>
					<li class="step9 nodone notclick">
						<p>青少年生活事件量表aslec</p>
					</li>
					<li class="step10 nodone notclick">
						<p>简式父母养育方式问卷表s-embu</p>
					</li>
					<li class="step11 nodone notclick">
						<p>自动思维问卷表atq</p>
					</li>
                    <li class="finish nodone notclick">
                      <p>完成</p>
                    </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
                    <form action="/scales/add_ManicSymptom?id=1&pid=1&&sid=1&&did=1" method="post">
                      <div class="container">
                      <div class="row show-grid">
                              <div class="col-md-12">
                                  <h4><strong><center>33项轻躁狂症状清单 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;精力、活力和情绪</center></strong></h4>
                              </div>
                          </div>
                          <div class="row"  style="margin: 10px">
                             <strong>每个人在一生中的不同时期都会体验到精力、活力和情绪上的变化或波动（“高涨”与
                              “低落”或“向上”与“向下”）。</strong>

                          </div>
                          <div class="row" style="margin: 10px"><strong>此问卷的目的旨在评估您在“高涨”时期的特点。</strong></div>

                          <div class="row" style="margin: 10px"><strong>1. 首先，和平常的状态比起来，您今天感觉怎么样？ （请在下列选项中选出一项）</strong></div>

                         <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1"  value=0 data-labelauty="比平常差多了"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1" value=1  data-labelauty="比平常差"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1" value=2 data-labelauty="比平常差一点"/>
                          </div>

                          <div class="row show-grid"style="margin: 5px">
                             <input type="radio"  name="question1" value=3 data-labelauty="和平常差不多"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1" value=4  data-labelauty="比平常好"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1" value=5  data-labelauty="比平常好一点"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question1" value=6 data-labelauty="比平常好很多"/>
                          </div>



                           <div class="row" style="margin: 10px"><strong>2. 与其他人相比，您觉得自己怎么样？<br/>
                           不管您今天感觉怎么样，请告诉我们通常情况下您和其他人相比的情况，请在下面选出最合适您的描述.<br/>
                           </strong></div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question2" value=0 data-labelauty="总是相当稳定"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question2" value=1 data-labelauty="通常比较高涨一些"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                              <input type="radio"  name="question2" value=2 data-labelauty="通常比较低落一些"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question2" value=3 data-labelauty="反复地出现高涨与低落是"/>
                          </div>
                           <div class="row" style="margin: 10px"><strong>3. 请尽力回忆当您处于“高涨”状态时，您那个时候的感觉怎么样？请您对下列所有的描述进行回答,不管您现在的状态如何。<br/>
                           </strong></div>
                          <div >
                          <table id="table" class="mania_table_33" width="60%" style="margin: 10px;font-size:13px;" >
                           <thead>
                              <tr>
                                  <th>
                                  在这种状态下：
                                  </th>
                                      <th>
                                    是
                                  </th>
                                      <th>
                                     否
                                  </th>

                              </tr>
                          </thead>
                      <tbody>
                          <tr>
                              <td>
                                  1)  我需要比较少的睡眠
                              </td>
                            <td>
                                <input class="row" style="margin: 10px" type="radio"  name="question3_1" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input  class="row" style="margin: 10px" type="radio" name="question3_1"  value=0   data-labelauty="否"/>&nbsp;
                           </td>
                               <td>
                          </tr>
                           <tr>
                               <td>
                                  2)  我感觉更有精力并且更加活跃
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_2" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_2"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                           </tr>
                          <tr>
                               <td>
                                  3) 我更自信
                              </td>
                            <td>
                                <input type="radio"class="row" style="margin: 10px"   name="question3_3" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"class="row" style="margin: 10px"  name="question3_3"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                              </td>
                               </tr>
                          <tr>
                               <td>
                                  4)  我更加享受我的工作
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_4" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_4"  value=0 data-labelauty="否" />&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  5)  我社交活动更多（打更多的电话，外出更多）
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_5" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_5"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  6)  我更想去旅行和/或者我旅行更多
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_6" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_6"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  7)   我想开车更快，或更冒险地开车
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_7" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_7"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  8)  我花钱更多，或花了太多钱
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_8" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_8"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  9)  在日常生活中，我更加冒险（在工作和/或在其它活动上）
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_9" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_9"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  10)  我体力活动量增多（如体育运动等）
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_10" value=1 data-labelauty="是" />
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_10"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  11)  我计划更多的活动或者项目
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_11" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_11"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  12)  我有更多的点子，更有创造力
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_12" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_12"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  13)  我很少害羞或者感到受约束
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_13" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_13"  value=0 data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  14)  我会穿更加鲜艳、更加奢侈的衣服/用更鲜艳、奢侈的化妆品
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_14" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_14"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  15)  我想接触更多的人，或者的确接触了更多的人
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_15" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                <input type="radio"  class="row" style="margin: 10px" name="question3_15" value=0 data-labelauty="否"/>
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  16)  我对“性”更感兴趣，并且/或者性的方面更活跃
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_16" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_16"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  17)   我讲话更多
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_17" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_17"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  18)  我思维更快
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_18" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_18"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  19)  我讲话时会开更多的玩笑，或者说更多俏皮话
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_19" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_19"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                               <td>
                                  20)  我更容易分心
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_20" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_20"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  21)  我尝试许多新鲜事物
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px" name="question3_21" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_21"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  22)  我的想法经常从一个话题跳到另一个话题
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_22" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_22"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  23)  我做事比平时更快，并且/或者感到更容易
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_23" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_23"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  24)  我更没有耐心，并且/或者更容易激惹
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_24" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_24"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  25)  我更令别人疲惫不堪，或者更容易让别人发怒
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_25" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_25"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  26)  我陷入更多的争吵
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_26" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_26"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  27)  我的情绪更高涨、更乐观
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_27" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px" name="question3_27"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  28)  我喝更多的咖啡
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_28" value=1 data-labelauty="是" />
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_28"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  29)  我吸更多的烟
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_29" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px" name="question3_29"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  30)  我喝更多的酒
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_30" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio"  class="row" style="margin: 10px"name="question3_30"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                                <td>
                                  31)  我服用更多的药物 (指：镇静剂、抗焦虑剂、兴奋剂等)
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px"  name="question3_31" value=1 data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px"name="question3_31"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                              <td>
                                  32)  我参加更多的游戏或赌博活动
                              </td>
                            <td>
                                <input type="radio"  class="row" style="margin: 10px"name="question3_32" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px"name="question3_32"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>
                          <tr>
                              <td>
                                  33)  我吃得更多或参加更多的狂欢
                              </td>
                            <td>
                                <input type="radio" class="row" style="margin: 10px" name="question3_33" value=1  data-labelauty="是"/>
                                </td>
                              <td>
                  <input type="radio" class="row" style="margin: 10px"name="question3_33"  value=0  data-labelauty="否"/>&nbsp;&nbsp;
                           </td>
                               </tr>


                          </tr>

                     </tbody>
                   </table>
                          </div>
                             <div class="row"style="margin: 10px"><strong>4. 您的“高涨”状态对您生活各个方面的影响：<br/>
                           </strong></div>
                           <div >
               <table id="table" class="mania_table" width="60%" style="margin: 5px;font-size: 13px;">
                      <tbody>
                          <tr>
                              <td>
                                  家庭生活
                              </td>
                            <td><input type="radio"  name="question4_1" value=0  data-labelauty="正面与负面都有"/></td>
                              <td><input type="radio" name="question4_1"  value=1  data-labelauty="正面影响"/></td>
                               <td><input type="radio"  name="question4_1" value=2   data-labelauty="负面影响"/></td>
                              <td><input type="radio" name="question4_1"  value=3  data-labelauty="没有影响"/>&nbsp;&nbsp;</td>
                          </tr>
                           <tr>
                               <td>
                                  社会生活
                              </td>
                            <td><input type="radio"  name="question4_2" value=0 data-labelauty="正面与负面都有"/></td>
                              <td><input type="radio" name="question4_2"  value=1 data-labelauty="正面影响"/>&nbsp;&nbsp;</td>
                               <td><input type="radio"  name="question4_2" value=2 data-labelauty="负面影响"/></td>
                              <td><input type="radio" name="question4_2"  value=3 data-labelauty="没有影响"/></td>
                           </tr>
                          <tr>
                               <td>
                                  工作
                              </td>
                            <td><input type="radio"  name="question4_3" value=0 data-labelauty="正面与负面都有"/></td>
                              <td><input type="radio" name="question4_3"  value=1 data-labelauty="正面影响"/>&nbsp;&nbsp;</td>
                              <td><input type="radio"  name="question4_3" value=2 data-labelauty="负面影响"/></td>
                              <td><input type="radio" name="question4_3"  value=3 data-labelauty="没有影响"/>&nbsp;&nbsp;</td>

                               </tr>
                          <tr>
                               <td>
                                  休闲
                              </td>
                            <td><input type="radio"  name="question4_4" value=0 data-labelauty="正面与负面都有"/></td>
                              <td><input type="radio" name="question4_4"  value=1 data-labelauty="正面影响"/>&nbsp;&nbsp;</td>
                              <td><input type="radio"  name="question4_4" value=2 data-labelauty="负面影响"/></td>
                              <td><input type="radio" name="question4_4"  value=3 data-labelauty="没有影响"/>&nbsp;&nbsp;</td>
                               </tr>


                     </tbody>
                   </table>
                      </div>

                          <div class="row" style="margin: 10px"><strong>5. 与您亲近的人对您“高涨”状态有什么反应或意见？ （请在下列选项中选出一项）</strong></div>
                         <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question5" value=0 data-labelauty="0=正面的 (鼓励或支持)"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question5" value=1 data-labelauty="1=中性的" />
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question5" value=2 data-labelauty="2=负面的 (关注、恼火、生气、批评)"/>
                          </div>

                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question5" value=3  data-labelauty=" 3=正面和负面都有" />
                          </div>
                          <div class="row show-grid"style="margin: 5px">
                             <input type="radio"  name="question5" value=4  data-labelauty="4=没有反应" />
                          </div>

                           <div class="row" style="margin: 10px"><strong>6 a). 您过去的“高涨”状态最长一次持续了多久？ （请在下列选项中选出一项）</strong></div>
                         <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=0 data-labelauty=" 1 天"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=1  data-labelauty="2-3 天"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=2 data-labelauty="4-6 天"/>
                          </div>

                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=3  data-labelauty="1-3 周" />
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=4   data-labelauty="1个月或以上"/>
                          </div>
                           <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question6_1" value=5  data-labelauty=" 我不能判断或不知道" />
                          </div>


                          <div class="row" style="margin: 10px"><strong>6 b). “高涨”状态通常的持续时间 (平均)： （请在下列选项中选出一项）</strong></div>
            <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=0 data-labelauty=" 1 天"/>
             </div>
             <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=1  data-labelauty="2-3 天"/>
             </div>
             <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=2 data-labelauty="4-6 天"/>
             </div>

             <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=3  data-labelauty="1-3 周" />
             </div>
             <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=4   data-labelauty="1个月或以上"/>
             </div>
              <div class="row show-grid" style="margin: 5px">
              <input type="radio"  name="question6_2" value=5  data-labelauty=" 我不能判断或不知道" />
             </div>


                       <div class="row" style="margin: 10px"><strong>7. 在过去的 12 个月中，您经历过这种“高涨”的状态吗？</strong></div>
                         <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question7" class="hcl-33_question7_yes" value=1 data-labelauty="是"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question7" class="hcl-33_question7_no" value=0  data-labelauty="否"/>
            </div>
            <div class="hcl-33_question7_yes_days">
               <div class="row"style="margin: 10px"><strong>8. 若是，请估计在过去 12 个月中您在这种“高涨”状态中度过多少天。总计大约多少天?</strong></div>
                          <div class="row show-grid" style="margin: 5px">
                             <input  name="question8" />
            </div>
              </div>
                          <div class="row"style="margin: 5px"><strong>9. 您可以把自己描述为一个上下起伏的人吗：</strong></div>
                          <div class="row"style="margin: 10px"><strong>一段时间极度兴奋，另一段时间则愁眉苦脸？   </strong></div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question9" value=1 data-labelauty="是"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question9" value=0  data-labelauty="否"/>
                          </div>

                          <div class="row" style="margin: 5px"><strong>10. 您的情绪有时会突然转变吗？</strong></div>
                          <div class="row show-grid"style="margin: 5px">
                             <input type="radio"  name="question10" value=1  data-labelauty="是"/>
                          </div>
                          <div class="row show-grid" style="margin: 5px">
                             <input type="radio"  name="question10" value=1 data-labelauty="否" />
                          </div>

                          <div class="row" style="margin: 5px">
                              <div class="text-center">
                                  {% csrf_token %}
                                  <input  type="submit" class="btn btn-success" value="保存并提交量表，继续下一量表"  id="ManicSymptom_bt"/>
                              </div>
                          </div>
                      </div>
                      </form>
                  </div>
			    </div>
	          </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>	
	$(document).ready(function(){
		 $('.hcl-33_question7_yes').on('click',function(event){
		 $('.hcl-33_question7_yes_days').show();
	   });
	   $('.hcl-33_question7_no').on('click',function(event){
		 $('.hcl-33_question7_yes_days').hide();
	   });
	});
</script>	
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

{% endblock %}