{% extends 'templates/index.html' %}
{% load static %}
{% block title %}自杀意念及行为史bss{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
    <div class="right_col" role="main" >
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                         <li ><a href="#">量表录入</a></li>
                         <li><a href="#" >自评量表</a></li>
						 <li class="active"><a href="#" >自杀意念及行为史bss</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;">
            <div id="wrapper">
                <div id = "left-side" style="height: 100%;" class="col-md-2">
                  <ul class="scales_progress">
                    <li class="step1 done">
                      <p>耶鲁布朗强迫症严重程度标准量表（ybocs）</p>
                    </li>
                    <li class="step2 doing notclick">
                      <p>自杀意念及行为史（bss）</p>
                    </li>
                    <li class="step3 nodone notclick">
                      <p>33项轻躁狂症状清单(hcl-33)</p>
                    </li>
                    <li class="step4 nodone notclick ">
                      <p>斯奈斯和汉密尔顿快乐量表(shaps)</p>
					</li>
					<li class="step5 nodone notclick">
						<p>快感体验能力量表teps</p>
					</li>
					<li class="step6 nodone notclick">
						<p>斯奈斯和汉密尔顿快乐量表(shaps)</p>
					</li>
					<li class="step7 nodone notclick">
						<p>儿童期（16岁以前）的成长经历ctq-sf</p>
					</li>
					<li class="step8 nodone notclick">
						<p>认知情绪调节量表cerq-c</p>
					</li>
					<li class="step9 nodone notclick">
						<p>青少年生活事件量表aslec</p>
					</li>
					<li class="step10 nodone notclick">
						<p>简式父母养育方式问卷表s-embu</p>
					</li>
					<li class="step11 nodone notclick">
						<p>自动思维问卷表atq</p>
					</li>
                    <li class="finish nodone notclick">
                      <p>完成</p>
                    </li>
                  </ul>
                </div>  
				         
                <div id="right-side" class="col-md-10">
                  <div id="first" class="active">
					<form action="#" method="POST" id="zisha_form">
						<div class="container">
							<div>
								<center> 贝克自杀意念及强度量表</center>
							</div>
							<div class="row suicide_title" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
								<div style="float: left; margin-top: 5px;"><strong>您是否有过自杀行为史（自杀未遂或自伤）?</strong></div>
								<input type="radio" name="suicide_history" class="suicide_no" value=0 data-labelauty="否" /> 
								<input type="radio" name="suicide_history" class="suicide_yes" value=1 data-labelauty="是"/>
							</div>
							<div class="row" id = "suicides_times_block" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">	
								<strong>如果有过自杀行为史，记录次数：<input type="text" name="suicide_times" class="suicides_times_content"/>     次<br/></strong>
							</div>
							<div class="row"  style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">	
								<h5><strong><i class="fa fa-hand-o-down"></i>&nbsp;<i class="fa fa-hand-o-down"></i>&nbsp;<i class="fa fa-hand-o-down"></i>&nbsp;指导语：下述项目是一些有关您对生命和死亡想法的问题。每个问题既问最近一周您是如何感觉的，又问既往您最消沉、最代或自杀倾向最严重的时候是如何感觉的。每个问题的答案各有不同，请您注意听清提问和备选答案，然后根据您的情况选择最适合的答案。</strong></h5>				
							</div>
							<div class="row">
								<div class="col-md-12 column">
									<table class="table table-bordered">
										<tbody>
											<div>
												<tr>
													<th  colspan="6">
														1. 您希望活下去的程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer1" value=1 data-labelauty="中等到强烈"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer1" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer1" value=3 data-labelauty="没有活着的欲望"/> 
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer2" value=1 data-labelauty="中等到强烈"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer2" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer2" value=3 data-labelauty="没有活着的欲望"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr>
													<th  colspan="6">
														2. 您希望死去的程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer3" value=1 data-labelauty="没有死去的欲望"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer3" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer3" value=3 data-labelauty="中等到强烈"/> 
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer4" value=1 data-labelauty="没有死去的欲望"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer4" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer4" value=3 data-labelauty="中等到强烈"/>
													</td>
												</tr>
											</div>
											<div>
												<tr>
													<th  colspan="6">
														3. 您要活下去的理由胜过您要死去的理由吗?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer5" value=1 data-labelauty="要活下去胜过要死去"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer5" value=2 data-labelauty="二者相当"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer5" value=3 data-labelauty="要死去胜过要活下来"/> 
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer6" value=1 data-labelauty="要活下去胜过要死去"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer6" value=2 data-labelauty="二者相当"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer6" value=3 data-labelauty="要死去胜过要活下来"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr>
													<th  colspan="6">
														4. 您主动尝试自杀的愿望程度如何?
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio" class="zisha_answer7_0" name="zisha_answer7" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer7_others" name="zisha_answer7" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer7_others" name="zisha_answer7" value=3 data-labelauty="中等到强烈"/> 
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="zisha_answer8_0" name="zisha_answer8" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer8_others" name="zisha_answer8" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer8_others" name="zisha_answer8" value=3 data-labelauty="中等到强烈"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr>
													<th  colspan="6">
														5. 您希望外力结束自己生命，即有“被动自杀愿望”的程度如何?（如，希望一直睡下去不再醒来、意外地死去等）
													</th>
												</tr>
												<tr>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio" class="zisha_answer9_0" name="zisha_answer9" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer9_others" name="zisha_answer9" value=2 data-labelauty="弱" /> 
													</td>
													<td>
														<input type="radio" class="zisha_answer9_others" name="zisha_answer9" value=3 data-labelauty="中等到强烈"/> 
													</td>
												</tr>
												<tr>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio" class="zisha_answer10_0" name="zisha_answer10" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer10_others" name="zisha_answer10" value=2 data-labelauty="弱"/> 
													</td>
													<td>
														<input type="radio" class="zisha_answer10_others" name="zisha_answer10" value=3 data-labelauty="中等到强烈"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question6'>
													<th  colspan="6">
														6. 您的这种自杀想法持续存在多长时间?
													</th>
												</tr>
												<tr id='zisha_question6'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer11" value=1 data-labelauty="短暂、一闪即逝"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer11" value=2 data-labelauty="较长时间"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer11" value=3 data-labelauty="持续或几乎是持续的"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer11" value=0 data-labelauty="近一周无自杀想法"/> 
													</td>
												</tr>
												<tr id='zisha_question6'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer12" value=1 data-labelauty="短暂、一闪即逝"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer12" value=2 data-labelauty="较长时间"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer12" value=3 data-labelauty="持续或几乎是持续的"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question7'>
													<th  colspan="6">
														7. 您自杀想法出现的频度如何?
													</th>
												</tr>
												<tr id='zisha_question7'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer13" value=1 data-labelauty="极少、偶尔"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer13" value=2 data-labelauty="有时"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer13" value=3 data-labelauty="经常或持续"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer13" value=0 data-labelauty="近一周无自杀想法"/> 
													</td>
												</tr>
												<tr id='zisha_question7'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer14" value=1 data-labelauty="极少、偶尔"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer14" value=2 data-labelauty="有时"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer14" value=3 data-labelauty="经常或持续"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question8'>
													<th  colspan="6">
														8. 您对自杀持什么态度?
													</th>
												</tr>
												<tr id='zisha_question8'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer15" value=1 data-labelauty="排斥"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer15" value=2 data-labelauty="矛盾或无所谓"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer15" value=3 data-labelauty="接受"/> 
													</td>
												</tr>
												<tr id='zisha_question8'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer16" value=1 data-labelauty="排斥"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer16" value=2 data-labelauty="矛盾或无所谓"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer16" value=3 data-labelauty="接受"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question9'>
													<th  colspan="6">
														9. 您觉得自己控制自杀想法、不把它变成行动的能力如何?
													</th>
												</tr>
												<tr id='zisha_question9'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer17" value=1 data-labelauty="能控制"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer17" value=2 data-labelauty="不知能否控制"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer17" value=3 data-labelauty="不能控制"/> 
													</td>
												</tr>
												<tr id='zisha_question9'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer18" value=1 data-labelauty="能控制"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer18" value=2 data-labelauty="不知能否控制"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer18" value=3 data-labelauty="不能控制"/> <span style="margin-right: 20px">不能控制</span>
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question10'>
													<th  colspan="6">
														10. 如果出现自杀想法，某些顾虑（如顾及家人、死亡不可逆转等）在多大程度上能阻止您自杀?
													</th>
												</tr>
												<tr id='zisha_question10'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer19" value=1 data-labelauty="能阻止自杀"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer19" value=2 data-labelauty="能减少自杀的危险"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer19" value=3 data-labelauty="无顾虑或无影响"/> 
													</td>
												</tr>
												<tr id='zisha_question10'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer20" value=1 data-labelauty="能阻止自杀"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer20" value=2 data-labelauty="能减少自杀的危险"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer20" value=3 data-labelauty="无顾虑或无影响"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question11'>
													<th  colspan="6">
														11. 当您想自杀时，主要是为了什么?
													</th>
												</tr>
												<tr id='zisha_question11'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer21" value=1 data-labelauty="控制形势、寻求关注、报复"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer21" value=2 data-labelauty="逃避、减轻痛苦、解决问题"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer21" value=3 data-labelauty="前两种情况均有"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer21" value=0 data-labelauty="近一周无自杀想法"/> 
													</td>
												</tr>
												<tr id='zisha_question11'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer22" value=1 data-labelauty="控制形势、寻求关注、报复"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer22" value=2 data-labelauty="逃避、减轻痛苦、解决问题"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer22" value=3 data-labelauty="前两种情况均有"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question12'>
													<th  colspan="6">
														12. 您想过结束自己生命的方法了吗?
													</th>
												</tr>
												<tr id='zisha_question12'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer23" value=1 data-labelauty="没想过"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer23" value=2 data-labelauty="想过，但没制订出具体细节"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer23" value=3 data-labelauty="制订出具体细节或计划得很周详"/> 
													</td>
												</tr>
												<tr id='zisha_question12'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer24" value=1 data-labelauty="没想过"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer24" value=2 data-labelauty="想过，但没制订出具体细节"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer24" value=3 data-labelauty="制订出具体细节或计划得很周详"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question13'>
													<th  colspan="6">
														13. 您把自杀想法落实的条件或机会如何?
													</th>
												</tr>
												<tr id='zisha_question13'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer25" value=1 data-labelauty="没有现成的方法、没有机会"/> <span style="margin-right: 20px">没有现成的方法、没有机会</span>
													</td>
													<td>
														<input type="radio"  name="zisha_answer25" value=2 data-labelauty="需要时间或精力准备自杀工具"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer25" value=3 data-labelauty="有现成的方法和机会或预计将来有方法和机会"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer25" value=0 data-labelauty="近一周无自杀想法"/> 
													</td>
												</tr>
												<tr id='zisha_question13'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer26" value=1 data-labelauty="没有现成的方法、没有机会"> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer26" value=2 data-labelauty="需要时间或精力准备自杀工具"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer26" value=3 data-labelauty="有现成的方法和机会或预计将来有方法和机会"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question14'>
													<th  colspan="6">
														14. 您相信自己有能力并且有勇气去自杀吗?
													</th>
												</tr>
												<tr id='zisha_question14'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer27" value=1 data-labelauty="没有勇气、太软弱、害怕、没有能力"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer27" value=2 data-labelauty="不确信自己有无能力、勇气"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer27" value=3 data-labelauty="确信自己有能力、有勇气"/> 
													</td>
												</tr>
												<tr id='zisha_question14'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer28" value=1 data-labelauty="没有勇气、太软弱、害怕、没有能力"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer28" value=2 data-labelauty="不确信自己有无能力、勇气"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer28" value=3 data-labelauty="确信自己有能力、有勇气"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question15'>
													<th  colspan="6">
														15. 您预计某一时间您确实会尝试自杀吗?
													</th>
												</tr>
												<tr id='zisha_question15'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer29" value=1 data-labelauty="不会"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer29" value=2 data-labelauty="不确定"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer29" value=3 data-labelauty="会"/> 
													</td>
												</tr>
												<tr id='zisha_question15'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer30" value=1 data-labelauty="不会" /> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer30" value=2 data-labelauty="不确定"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer30" value=3 data-labelauty="会"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question16'>
													<th  colspan="6">
														16. 为了自杀，您的准备行动完成得怎样?
													</th>
												</tr>
												<tr id='zisha_question16'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer31" value=1 data-labelauty="没有准备"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer31" value=2 data-labelauty="部分完成（如，开始收集药片）"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer31" value=3 data-labelauty="全部完成(如，有药片、刀片、有子弹的枪)"/> 
													</td>
												</tr>
												<tr id='zisha_question16'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer32" value=1 data-labelauty="没有准备"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer32" value=2 data-labelauty="部分完成（如，开始收集药片）"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer32" value=3 data-labelauty="全部完成(如，有药片、刀片、有子弹的枪)"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question17'>
													<th  colspan="6">
														17. 您已着手写自杀遗言了吗?
													</th>
												</tr>
												<tr id='zisha_question17'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer33" value=1 data-labelauty="没有考虑"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer33" value=2 data-labelauty="仅仅考虑、开始但未写完"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer33" value=3 data-labelauty="写完"/> 
													</td>
												</tr>
												<tr id='zisha_question17'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer34" value=1 data-labelauty="没有考虑"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer34" value=2 data-labelauty="仅仅考虑、开始但未写完"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer34" value=3 data-labelauty="写完"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question18'>
													<th  colspan="6">
														18. 您是否因为预计要结束自己的生命而抓紧处理一些事情？如买保险或准备遗嘱。
													</th>
												</tr>
												<tr id='zisha_question18'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer35" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer35" value=2 data-labelauty="考虑过或做了一些安排"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer35" value=3 data-labelauty="有肯定的计划或安排完毕"/> 
													</td>
												</tr>
												<tr id='zisha_question18'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer36" value=1 data-labelauty="没有"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer36" value=2 data-labelauty="考虑过或做了一些安排"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer36" value=3 data-labelauty="有肯定的计划或安排完毕"/> 
													</td>
												</tr>
											</div>
											<div>
												<tr id='zisha_question19'>
													<th  colspan="6">
														19. 您是否让人知道自己的自杀想法?
													</th>
												</tr>
												<tr id='zisha_question19'>
													<td>
														最近一周
													</td>
													<td>
														<input type="radio"  name="zisha_answer37" value=1 data-labelauty="坦率主动说出想法" /> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer37" value=2 data-labelauty="不主动说出"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer37" value=3 data-labelauty="试图欺骗、隐瞒"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer37" value=0 data-labelauty="近一周无自杀想法"/> 
													</td>
												</tr>
												<tr id='zisha_question19'>
													<td>
														最消沉、最忧郁的时候
													</td>
													<td>
														<input type="radio"  name="zisha_answer38" value=1 data-labelauty="坦率主动说出想法"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer38" value=2 data-labelauty="不主动说出"/> 
													</td>
													<td>
														<input type="radio"  name="zisha_answer38" value=3 data-labelauty="试图欺骗、隐瞒"/> 
													</td>
													<td>
													</td>
												</tr>
											</div>
										</tbody>
									</table>
								</div>
							</div>
							<!-- <div class="row">
								<div class="form-inline" style="float: right;margin-right: 10px;">
									<strong>总分：<input type="number" class="form-control" name="total_score" style="width:100px;"/>分</strong>
								</div>
							</div> -->
							<div class="row" style="margin-top:30px">
								<div class="text-center">
									{% csrf_token %}
									<!-- {{ form }} -->
									<input  type="submit" class="btn btn-success" value="提交" id="zisha_bt"/>
								</div>
							</div>
						</div>
					</form>
                  </div>
			    </div>
	        </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>	
	$(document).ready(function(){
		$("input[type='radio']").labelauty();
		$(".suicide_no").on('click',function(event){
		$("#suicides_times_block").hide();
	    });
		$(".suicide_yes").on('click',function(event){
			$("#suicides_times_block").show();
		});

	});
</script>	
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>

{% endblock %}