{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}被试管理{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/appointToday.css' %}">
    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <link rel="stylesheet" href={% static '/css/tinyselect.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

    <style>
        .sel_beauty {
            background: #fafdfe;
            height: 33px;
            width: 180px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            width: 158px;
        }
    </style>
{% endblock %}

{% block content %}
<!-- 出院开始 -->
<div class="table-responsive2">
{% for patient in inpatients %}
    <div class="modal fade" id="delete_inpatient_{{ patient.id }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                        {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myModalLabel">
                            出院
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-2 control-label" for="out_date" style="text-align: right">出院日期：</label>
                            <div class="col-sm-4">
                                <input type="date" class=" sel_beauty form-control input-sm " name="in_date" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="text-center">
                                <button class="btn btn-success" onclick="out_inpatient({{patient.id}})">提交</button>
                                <a href="/inpatients/get_all_inpatient_info"><button class="btn btn-danger" type="button" >取消</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endfor %}
</div>
<!-- 出院结束 -->
<!--弹出模态框 ，查找 -->
    <div class="modal fade" id="modal_container_search" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myModalLabel">
                            查找被试信息
                        </h5>
                    </div>
                    <div class="modal-body">

                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-2 control-label" for="name" style="text-align: right">编号：</label>
                            <div class="col-sm-4">
                                <input type="number" class=" sel_beauty form-control input-sm " name="patient_id"/>
                            </div>

                        </div>

                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-2 control-label" for="name" style="text-align: right">姓名：</label>
                            <div class="col-sm-4">
                                <input type="text" class=" sel_beauty form-control input-sm " name="name"/>
                            </div>
                            <label class="col-sm-2 control-label" style="text-align: right" for="sex">性别：</label>
                            <div class="col-sm-4">
                                <input type="radio" class=" flat" name="sex" value=0 />
                                <span style="margin-right: 10px;"></span>男<span style="margin-right: 20px;"></span>
                                <input type="radio" class="flat" name="sex" value=1 >
                                <span style="margin-right: 10px;"></span>女
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-2 control-label" for="subject_number"
                                   style="text-align: right">诊断情况<span class="required">:</span></label>
                            <div class="col-md-4">
                                <select tabindex="-1" style="font-size: 10px" name="diagnosis" id="diagnosis"
                                        class="sel_beauty select2_single form-control col-md-4">
                                    <option value="">所有</option>
                                    <option value=0>未诊断</option>
                                    <option value=1>健康者</option>
                                    <option value=2>重性抑郁障碍</option>
                                    <option value=3>焦虑障碍</option>
                                    <option value=4>双相障碍</option>
                                    <option value=5>精神分裂症</option>
                                    <option value=6>强迫症</option>
                                    <option value=7>高危遗传</option>
                                    <option value=8>临床高危</option>
                                    <option value=9>抑郁症状</option>
                                    <option value=99>其他诊断</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="text-center">
                                <button type="button" class="btn btn-success" onclick="search_inpatients()">&nbsp;查找&nbsp;&nbsp;</button>
                                <button class="btn btn-danger" type="button" onclick="">取消</button>
                                <button class="btn btn-danger" type="button" onclick="">取消</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- 模态框结束 -->

    <script src="{% static '/js/layerJquery.js' %}"></script>
    <script src="{% static '/js/layer.js' %}"></script>
    <div class="right_col" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                        <li><a href="/inpatients/get_all_inpatient_info">被试信息</a></li>
                        <li class="active"><a href="#">住院管理</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-362408">
                    <ul class="nav nav-tabs">
                        <li class="active">
                             <a  href="" onclick="get_inpatients_by_type('')" data-toggle="tab">所有住院患者</a>
                        </li>
                        <li>
                             <a href="" onclick="get_inpatients_by_type(1)" data-toggle="tab">在院患者</a>
                        </li>
                        <li>
                             <a href="" onclick="get_inpatients_by_type(2)" data-toggle="tab">出院患者</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>

        <div class="dashboard_graph x_panel">
            <div class="x_content">
            <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a href="#modal_container_search" data-toggle="modal">
                            <button class="btn btn-warning btn-sm"><span class="fa fa-search"></span><span>&nbsp;&nbsp;查找</span>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="row" style="border-top: solid #ACC0D8 1px;margin:5px 0px"></div>
                <div class="row clearfix">
                    <div class="col-md-12 column" id="inpatients">
                    <div class="table-responsive">
                        <table id="" class="table table-striped table-hover" style="font-size: 13px;cellspacing:15px;">
                            <thead>
                            <tr>
                                <th>编号</th><th>姓名</th><th>性别</th><th>出生日期</th><th>民族</th><th>诊断</th><th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient in inpatients %}
                                {% if patient.id|divisibleby:"2" %}
                                    <tr class="success">
                                        {% else %}
                                    <tr>
                                {% endif %}
                            <td>
                            {{ patient.patient.id }}
                            </td>
                            <td>
                                {{ patient.patient.name }}
                            </td>
                            <td>
                                {% if patient.patient.sex == 0 %}
                                    男
                                {% else %}
                                    女
                                {% endif %}
                            </td>
                            <td>
                                {{ patient.patient.birth_date }}
                            </td>
                            <td>
                                {{ patient.patient.nation }}
                            </td>
                            <td>
                               {{  patient.patient|get_diagnosis_by_object }}

                            </td>

                            <td>
                              <a href="/inpatients/get_inpatient_detail?inpatient_id={{ patient.id }}" style="color:white">
                                  <button class="btn btn-success btn-xs" style="margin:0px;color:white">信息管理</button>
                              </a>

                               {% if patient.inpatient_state == 1 %}
                                    <a href="#delete_inpatient_{{ patient.id }}" data-toggle="modal" style="color:white">
                                        <button class="btn btn-warning btn-xs" style="margin:0px;color:white">出院</button>
                                    </a>
                                   {% else %}
                                    已出院
                                {% endif %}

                          </td>
                          </tr>
                            {% endfor %}
                          </tbody>
                        </table>



                    <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    {% if paginator.has_prev_page %}
                                        <a href="get_all_inpatient_info?page={{ paginator.first_page }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">首页</span>
                                        </a>
                                    {% endif %}
                                </li>

                                <li>
                                    {% if paginator.has_prev_page %}
                                        <a href="get_all_inpatient_info?page={{ paginator.prev_page }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    {% endif %}
                                </li>

                                {% for pagenum in paginator.pagetag_range %}
                                    {% if paginator.pagetag_current == pagenum %}
                                        <li class="active"><a
                                                href="get_all_inpatient_info?page={{ pagenum }}">{{ pagenum }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="get_all_inpatient_info?page={{ pagenum }}">{{ pagenum }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <li>
                                    {% if paginator.has_next_page %}
                                        <a href="get_all_inpatient_info?page={{ paginator.next_page }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    {% endif %}
                                </li>

                                <li>
                                    {% if paginator.has_next_page %}
                                        <a href="get_all_inpatient_info?page={{ paginator.last_page }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">尾页</span>
                                        </a>
                                    {% endif %}
                                </li>

                            </ul>
                        </nav>



                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static '/js/subjectEstablish.js' %}"></script>
    <script type="text/javascript" language="JavaScript">

        function zeropadding(num, length) {
            //这里用slice和substr均可
            return (Array(length).join("0") + num).slice(-length);
        }

        function judge_diagnosis(obj) {
            if (obj.options[obj.selectedIndex].value == 99) {
                document.getElementById("other_diagnosis_div").style.display = "";
                document.getElementById("ghr_div").style.display = "none";
            } else if(obj.options[obj.selectedIndex].value == 7){
                 document.getElementById("other_diagnosis_div").style.display = "none";
                document.getElementById("ghr_div").style.display = "";
            }
            else {
                document.getElementById("ghr_div").style.display = "none";
                document.getElementById("other_diagnosis_div").style.display = "none";
            }
        }

        /*获取生成id
        $('#modal_container_subjectBaseInfo_build').on('show.bs.modal', function (e) {
            $.ajax({
                url: '/patients/get_generateId_and_nation',
                type: 'POST',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $('#modal_container_subjectBaseInfo_build #standard_id').val(result.standard_id);
                },
                error: function () {
                    // alert('出错了');
                }
            });
        })
        */
    </script>
    {% comment %}填充0{% endcomment %}

<script>
var i=1;
function addLine() {

     var txt1=document.createElement("p");
     var s=""
	s+="<div class=col-md-4 style=margin: 10px >"

    s+="<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty  form-control col-md-4 id=singleSelect"+i+" name=patient_session_id_" + i + " >"
    s+=" <option value= 0 >无</option>"
                              s+= " {% for obj in patients %}"
                                   s+= "<option value ={{ obj.id }}>{{ obj.id }}-{{ obj.name }}-{{ obj.birth_date }}</option>"
                                s+="{% endfor %}"
                          s+=" </select>"
    s+="</div>"

    txt1.innerHTML=s;

    var txt2=document.createElement("p");
	var str = "" ;
	str+="<div class=col-md-4 style=margin: 10px>"
    str+="<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_diagnosis"+i+" name=diagnosis_"+i+ ">"
     str+="<option  value=2>"+'重性抑郁障碍';
	 str+="<option  value=3>"+'焦虑障碍';
    str+="<option  value=4>"+'双相障碍';
    str+="<option  value=5>"+'精神分裂症';
    str+="<option  value=6>"+'强迫症';
    str+="<option  value=8>"+'临床高危';
    str+="<option  value=9>"+'抑郁症状';
    str+="<option  value=99>"+'其他诊断';

	 str+="</select>";
    str+="</div>";




    txt2.innerHTML=str;
    var txt3=document.createElement("p");
    var str2 = "" ;
	str2+="<div class=col-md-4 style=margin: 10px>"
    str2+="<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_kinship"+i+" name=kinship_"+i+ ">"
     str2+="<option  value=0>"+'父亲';
	 str2+="<option  value=1>"+'母亲';
    str2+="<option  value=2>"+'儿子';
    str2+="<option  value=3>"+'女儿';
    str2+="<option  value=4>"+'哥哥';
    str2+="<option  value=5>"+'弟弟';
    str2+="<option  value=6>"+'姐姐';
    str2+="<option  value=7>"+'妹妹';
	 str2+="</select>";
    str2+="</div>";


	txt3.innerHTML=str2;

    $("#ghr_add").append(txt1,txt2,txt3);
    $("#singleSelect"+i+"").select2();
    $("#ghr_diagnosis"+i+"").select2();
    $("#ghr_kinship"+i+"").select2();
    i++;


        }



</script>

    <script type="text/javascript">
  $(document).ready(function () {//加载页面时执行select2
    $('#singleSelect').select2();
       $('#ghr_diagnosis').select2();
       $('#ghr_kinship').select2();
  });
</script>

 <script type="application/javascript">
    var checked_hospitalized_type = ''
    function get_inpatients_by_type(type) {
        hospitalized_type = type
        $("#inpatients").load("/inpatients/get_inpatient_by_search .table-responsive", {
            "hospitalized_type": type,
            'csrfmiddlewaretoken': $("[name = 'csrfmiddlewaretoken']").val()
        })
    }

    function search_inpatients() {
        var patient_id = $("input[name='patient_id']").val()
        var name = $("input[name='name']").val()
        var diagnosis = $("select[name='diagnosis']").val()
        var sex = $("input[name='sex']:checked").val()

        $("#inpatients").load("/inpatients/get_inpatient_by_search .table-responsive", {
            "hospitalized_type": hospitalized_type,
            "patient_id":patient_id,
            "name":name,
            "diagnosis":diagnosis,
            "sex":sex,
            'csrfmiddlewaretoken': $("[name = 'csrfmiddlewaretoken']").val()
        })
        $("#modal_container_search").modal('hide');


    }

    function reset(num) {
        if(num==1){
            $("#modal_container_search").modal('hide');
        }
        $("input[name='patient_id']").val('')
        $("input[name='name']").val('')
        $("select[name='diagnosis']").val('')
        $("input[name='sex']:checked").val('')

    }




     function out_inpatient(inpatient_id) {
        var formData = new FormData();
        formData.append('inpatient_id',inpatient_id);
        formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
        $.ajax({
                type: 'POST',
                url: "/inpatients/out_inpatient",
                data:formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType:'json',
                success: function (data) {
                    alert(data['message']);
                    window.location.reload(true);
                },
                error: function () {
                    alert("失败！");
                }
            });
    }
    </script>
{% endblock %}