{% extends 'templates/index.html' %}
{% load static %}
{% block title %}新建被试{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
    <link href="{% static '/css/select_scales.css' %}" rel="stylesheet">
    <style>
    .sel_beauty{
        background:#fafdfe;
        height:28px;
        width:180px;
        line-height:28px;
        border:1px solid #9bc0dd;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        width:120px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row " style="margin-left:-20px">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li><a href="subjectManage">被试管理</a></li>
                    <li class="active"><a href="subjectInfoInputSelet">被试信息录入选择列表</a></li>
                </ul>
            </div>
        </div>
        <div class="row x_panel">


            <div class="col-md-3 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>量表录入选项列表</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <a href="/scales/get_general_info_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient.id }}"
                           style="color: white">
                            <button class="btn btn-success btn-block">个人一般信息录入</button>
                        </a>
                        <br/>
                        <a href="/scales/get_other_test_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient.id }}"
                           style="color: white">
                            <button class="btn btn-warning btn-block">他测量表录入</button>
                        </a>
                        <br/>
                        <a href="/scales/get_self_test_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient.id }}"
                           style="color: white">
                            <button class="btn btn-primary btn-block">自评量表录入</button>
                        </a>
                        <br/>
                        <a href="/scales/get_cognition_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient.id }}"
                           style="color: white">
                            <button class="btn btn-info btn-block">认知量表录入</button>
                        </a>
                        <br/>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="x_content">

                        chmjk,j
                    </div>
                </div>
            </div>


            <div class="col-md-9 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>个人信息<small>基本信息{{ patient_detail.standard_id }}</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <form class="form-horizontal form-label-left" action="">
                        <div class="x_content">
                        <div >
                            <div class="col-md-4 col-xs-12" >

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6" for="subject_number">
                                        受试编号<span class="required">:</span></label>
                                    <p class="col-md-4 col-sm-4 col-xs-6" id="patient_id"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left"></p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6" for="last-name">姓名 <span
                                            class="required">:</span></label>
                                    <p class="col-md-4 col-sm-4 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">{{ patient.name }}</p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6">性别 <span
                                            class="required">:</span></label>
                                    <p class="col-md-4 col-sm-4 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                        {% if patient.sex == 0 %}
                                            男
                                        {% else %}
                                            女
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6">民族 <span
                                            class="required">:</span></label>
                                    <p class="col-md-4 col-sm-4 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">{{ patient.nation }}</p>
                                </div>

                                <div class="form-group">
                                    <label for="birth_date" class="control-label col-md-4 col-sm-4 col-xs-6">出生日期<span class="required">:</span></label>
                                    <p class="col-md-4 col-sm-4 col-xs-6" style="width: 120px; padding-top: 7px;margin-bottom: 0;text-align: left;">{{ patient.birth_date }}</p>
                                </div>

                                <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 年龄<span
                                        class="required">:</span></label>
                                <p class="col-md-4 col-sm-4 col-xs-12" id="patient_id"
                                   style="padding-top: 7px;margin-bottom: 0;text-align: left"> {{ patient_detail.age }}</p>
                            </div>
                             <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 身高<span
                                        class="required">:</span></label>
                                    <input type="text" name="height" required="required"  class="sel_beauty" value="{{ patient_detail.height }}"/>
                            </div>

                                <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 体重<span
                                        class="required">:</span></label>
                                <input type="text" name="weight" required="required"  class="sel_beauty" value="{{ patient_detail.weight }}"/>
                            </div>

                            </div>

                            <div class="col-md-4 col-xs-12">


                                <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 职业<span
                                        class="required">:</span></label>
                                <input type="text" name="occupation" required="required"  class="sel_beauty" value="{{ patient_detail.occupation }}"/>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 腰围<span
                                        class="required">:</span></label>
                                <input type="text" name="waist" required="required"  class="sel_beauty" value="{{ patient_detail.waist }}"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 臀围<span
                                        class="required">:</span></label>
                                <input type="text" name="hip" required="required"  class="sel_beauty" value="{{ patient_detail.hip }}"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 教育背景<span
                                        class="required">:</span></label>
                                <input type="text" name="education" required="required"  class="sel_beauty" value="{{ patient_detail.education }}"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">
                                    教育年限<span class="required">:</span></label>
                                <input type="text" name="years" required="required"  class="sel_beauty" value="{{ patient_detail.years }}"/>
                            </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6" for="subject_number">感情状态<span class="required">:</span></label>
                                    <input type="hidden" value="{{ patient_detail.emotional_state }}" id="emotional_state1">
                                    <select name="emotional_state" id="emotional_state" value=3 class="sel_beauty" >
                                        <option value=1>单身</option>
                                        <option value=2>未婚</option>
                                        <option value=3>已婚</option>
                                        <option value=4>离婚</option>
                                        <option value=5>再婚</option>
                                        <option value=6>分居</option>
                                        <option value=7>丧偶</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6" for="subject_number">诊断情况<span class="required">:</span></label>
                                    <input type="hidden" value="{{ patient_detail.diagnosis }}" id="diagnosis1">
                                    <select name="diagnosis"id="diagnosis"  class="sel_beauty">
                                        <option value=0>未诊断</option>
                                        <option value=1>健康者</option>
                                        <option value=2>重性抑郁障碍</option>
                                        <option value=3>焦虑障碍</option>
                                        <option value=4>双相障碍</option>
                                        <option value=5>精神分裂症</option>
                                        <option value=6>强迫症</option>
                                        <option value=7>高危遗传</option>
                                        <option value=8>临床高危</option>
                                        <option value=9>抑郁症状</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-6" for="subject_number">被试来源<span class="required">:</span></label>
                                    <input type="hidden" value="{{ patient_detail.source }}" id="source1">
                                    <select name="source"id="source"  class="sel_beauty">
                                        <option value=0>门诊</option>
                                        <option value=1>病区</option>
                                        <option value=2>非医院</option>
                                    </select>
                                </div>

                        </div>

                            <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">认知是否完成<span class="required">:</span></label>
                                <td><input type="radio" name="cognitive" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="cognitive" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">录音是否完成<span class="required">:</span></label>
                                <td><input type="radio" name="sound" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="sound" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">血液是否采集<span class="required">:</span></label>
                                <td><input type="radio" name="blood" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="blood" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">毛发是否采集<span class="required">:</span></label>
                                <td><input type="radio" name="hairs" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="hairs" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">粪便是否检测<span class="required">:</span></label>
                                <td><input type="radio" name="manure" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="manure" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number"> 是否用药<span class="required">:</span></label>
                                <td><input type="radio" name="drugs_information" value=0 data-labelauty="否" checked/>
                                </td>
                                <td><input type="radio" name="drugs_information" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">磁共振情况<span class="required">:</span></label>
                                <td><input type="radio" name="mri_examination" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="mri_examination" value=1 data-labelauty="是"/></td>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="subject_number">tms治疗情况<span class="required">:</span></label>
                                <td><input type="radio" name="tms" value=0 data-labelauty="否" checked/></td>
                                <td><input type="radio" name="tms" value=1 data-labelauty="是"/></td>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-12 ln_solid">

                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-2 col-sm-2 col-xs-2" for="subject_number">备注<span class="required">:</span></label>
                            <textarea class="col-md-8 col-sm-8 col-xs-8" rows="3"  style="resize: none"></textarea>
                        </div>
                        <div></div>
                        <div class="col-md-12" style="text-align: center ;	transform:translateY(50%);-ms-transform:translateY(50%);-webkit-transform:translateY(50%);">
                                {% csrf_token %}
                                <input  type="submit" class="btn btn-success " style="margin-right: 40px" value="提交"/>
                                <button class="btn btn-warning " style="margin-left: 40px">取消</button>

                        </div>
                        </div>
                        <br/>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script>
       var patient_detail_emotional_state="{{ patient_detail.emotional_state  }}";
       //alert(patient_detail_emotional_state);
       var select = document.getElementById("emotional_state");
       select.options[patient_detail_emotional_state].selected="selected";
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" language="JavaScript">

        $(document).ready(function () {
            document.getElementById("patient_id").innerHTML = 'NN_' + formatZero({{ patient.id }}, 8)
        });

        function formatZero(num, len) {
            if (String(num).length > len) return num;
            return (Array(len).join(0) + num).slice(-len);
        }

    </script>

<script>
        $(document).ready(function(){
            $("#emotional_state").val($("#cert_type").val());
            var test = $('#emotional_state').val();
            //alert(test) ;
        });
</script>
    <script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("input[type='radio']").labelauty();

            $("set_emotional_default").val($("emotional_state"));

            function setDefault1(){
			var value =document.getElementById("emotional_state1").value;
			var select = document.getElementById("emotional_state");
			for(i=0;i<select.options.length;i++){
				if(select.options[i].value==value){
					select.options[i].selected="selected";
					break;
				}
			}
		}

		    function setDefault3(){
			var value =document.getElementById("diagnosis1").value;
			var select = document.getElementById("diagnosis");
			for(i=0;i<select.options.length;i++){
				if(select.options[i].value==value){
					select.options[i].selected="selected";
					break;
				}
			}
		}


		    function setDefault4(){
			var value =document.getElementById("source1").value;
			var select = document.getElementById("source");
			for(i=0;i<select.options.length;i++){
				if(select.options[i].value==value){
					select.options[i].selected="selected";
					break;
				}
			}
		}

        });

        function load(emotion_value){
            //alert('yes');
            //alert(emotion_value);
            var select = document.getElementById("emotional_state");
            select.options[emotion_value].selected="selected";
        }
    </script>



{% endblock %}